<app-header></app-header>
<div class="main-container">
  <app-workspace-menu
    [clickedChannel]="clickedChannel"
    (clickedChannelChange)="handleChannelClick($event)"
  ></app-workspace-menu>
  <app-channel (clickedAnswer)="handleThreadClick($event)"></app-channel>
  <app-thread
    *ngIf="clickedOpenThread"
    (clickedCloseThread)="handleThreadClick($event)"
  ></app-thread>
  <!-- <app-direct-messages></app-direct-messages> -->
</div>
<app-create-channel
  class="create-section"
  *ngIf="clickedChannel"
  (clickedChannel)="handleChannelClick($event)"
></app-create-channel>
<app-profile *ngIf=""></app-profile>
