.workspace {
  display: flex;
  padding: 16px;
  position: relative;
}

.d-none {
  display: none;
}

/* Smartphones - - - - - - - - - */

@media only screen and (max-width: 960px) {
  .workspace {
    padding: 0;
  }
}
