<app-header></app-header>
<div class="workspace">
  <app-workspace-menu
    [clickedChannel]="clickedChannel"
    (clickedChannelChange)="handleChannelClick($event)"
  ></app-workspace-menu>
  <app-channel
    (clickedThreadChange)="handleThreadClick($event)"
    [channel]="channel"
  ></app-channel>
  <app-thread
    *ngIf="clickedThread"
    (clickedCloseThread)="handleThreadClick($event)"
  ></app-thread>
  <!-- <app-direct-message></app-direct-message> -->
</div>
<app-create-channel
  class="create-section"
  *ngIf="clickedChannel"
  (clickedChannel)="handleChannelClick($event)"
></app-create-channel>
<app-profile *ngIf=""></app-profile>
