<mat-card appearance="outlined">
  <mat-card-header>
    <div class="channel-info">
      <div class="channel-info-content">
        <button class="channel-btn" (click)="editChannel()">
          <mat-icon class="icon tag">tag</mat-icon>
          <span>Channel Name</span>
          <mat-icon class="icon arrow">keyboard_arrow_down</mat-icon>
        </button>
        <app-edit-channel class="edit-channel-container" *ngIf="clickedEditChannel"></app-edit-channel>
      </div>
      <div class="members-container">
        <div class="members-container-content">
          <button class="channel-btn" (click)="showMembers()">
            <div class="img-container">
              <img src="./../../../assets/img/character1.png" alt="member1" /><img
                src="./../../../assets/img/character2.png" alt="member2" /><img
                src="./../../../assets/img/character3.png" alt="member3" />
            </div>
            <span class="number-members">3</span>
          </button>
          <app-member class="app-member" *ngIf="clickedMembers"></app-member>
        </div>
        <div class="add-member-container">
          <button class="add-member-btn" mat-mini-fab>
            <mat-icon>person_add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="main-chat">
      <mat-list>
        <div class="divider-container">
          <mat-divider> </mat-divider>
          <div class="message-date">Heute</div>
        </div>

        <mat-list-item>
          <div id="reactionBar" class="reaction-bar">
            <button class="mini-fab-btn" mat-mini-fab>
              <img src="./../../../assets/emojis/check.png" alt="check" />
            </button>
            <button class="mini-fab-btn" mat-mini-fab>
              <img src="./../../../assets/emojis/heart.png" alt="check" />
            </button>
            <button class="mini-fab-btn" mat-mini-fab>
              <mat-icon>add_reaction</mat-icon>
            </button>
            <button class="mini-fab-btn" mat-mini-fab>
              <mat-icon>comment</mat-icon>
            </button>
          </div>

          <div class="message-container">
            <img class="user-img" src="./../../../assets/img/character4.png" />
            <div class="message-details">
              <div class="user-wrapper">
                <div class="user-name">Noah Braun</div>
                <div class="time">14:25 Uhr</div>
              </div>
              <div class="text-bubble">Hallo Welt!</div>
              <div class="answer-wrapper">
                <div class="total-answers">2 Antworten</div>
                <div class="last-answer">Letzte Antwort 14:56</div>
              </div>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>

  <mat-card-footer>
    <div class="new-message-container">
      <input matInput type="text" placeholder="Nachricht an #Channel Name" />

      <div class="message-controls">
        <div class="add-elements">
          <button class="mini-fab-button" mat-mini-fab class="add-doc mini-fab-btn">
            <mat-icon>add</mat-icon>
          </button>
          <div class="vertical-divider"></div>
          <button mat-mini-fab class="emojis mini-fab-btn">
            <mat-icon>sentiment_satisfied</mat-icon>
          </button>
          <button mat-mini-fab class="tag-person mini-fab-btn">
            <mat-icon>alternate_email</mat-icon>
          </button>
        </div>
        <button mat-mini-fab class="send-btn">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-footer>
</mat-card>