@import "./../../../styles.scss";

.header-placeholder {
  height: 102px;
}

.card-container {
  height: calc(100vh - 102px);
  width: 100%;
  padding: 16px;
}

mat-card {
  height: 100%;
  @include cardstyling();
}
