@import "./../../../styles.scss";

.header-placeholder {
  height: 102px;
}

.card-container {
  height: calc(100vh - 102px);
  width: 100%;
  padding: 16px;
}

mat-card {
  height: 100%;
  @include cardstyling();
}

mat-card-header {
  padding: 0;
  height: 96px;

  @include boxshadow();

  .header-content {
    padding: 16px 16px 0;
  }
}

mat-card-content {
  padding-top: 16px;
}
