@import "./../../../styles.scss";

.header-placeholder {
  height: 102px;
}

.card-container {
  height: calc(100vh - 102px);
  width: 100%;
  padding: 16px;
}

mat-card {
  height: 100%;
  @include cardstyling();
}

mat-card-header {
  padding: 0;
  height: 96px;
  //@include boxshadow();

  .channel-info {
    display: flex;
    align-items: center;
    padding: 16px 16px 0;
  }

  .channel-drop-down-btn {
    width: auto;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Nunito", Roboto, sans-serif;
    font-size: 24px;
    color: var(--black);
    font-weight: 700;
    border-radius: 100px;
    padding: 6px, 10px, 6px, 10px;
    border: none;
    background-color: white;

    &:hover {
      background-color: var(--bg-color);
      color: var(--purple-3);
    }

    .icon {
      height: 100%;
      width: auto;
    }

    .tag {
      font-size: 32px;
      padding: 5px;
    }

    .arrow {
      font-size: 30px;
      padding: 7px;
    }
  }
}

mat-card-content {
  padding-top: 16px;
}
