<mat-card appearance="outlined">
  <mat-card-header>
    <div class="thread-header">
      <div class="thread-info">
        <h2>Thread</h2>
        <div class="channel-name">
          <mat-icon class="tag">tag</mat-icon>
          <span>Channel Name</span>
        </div>
      </div>

      <button class="mini-fab-btn" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <mat-list class="main-chat">
      <div class="initial-message-container">
        <mat-list-item>
          <div id="reactionBar" class="reaction-bar">
            <button class="mini-fab-btn" mat-mini-fab>
              <mat-icon>add_reaction</mat-icon>
            </button>
          </div>

          <div class="message-container">
            <img class="user-img" src="./../../../assets/img/character4.png" />
            <div class="message-details">
              <div class="user-wrapper">
                <div class="user-name">Noah Braun</div>
                <div class="time">14:25 Uhr</div>
              </div>
              <div class="text-bubble">Hallo Welt!</div>
              <div class="reaction-wrapper"></div>
            </div>
          </div>
        </mat-list-item>
        <div class="divider-container">
          <div class="total-answers">2 Antworten</div>
          <mat-divider> </mat-divider>
        </div>
      </div>

      <mat-list-item>
        <div id="reactionBar" class="reaction-bar">
          <button class="mini-fab-btn" mat-mini-fab>
            <mat-icon>add_reaction</mat-icon>
          </button>
        </div>

        <div class="answer-container">
          <img class="user-img" src="./../../../assets/img/character5.png" />
          <div class="message-details">
            <div class="user-wrapper">
              <div class="user-name">Sofia Müller</div>
              <div class="time">14:30 Uhr</div>
            </div>
            <div class="text-bubble">Hallo Noah! Wie geht's dir?</div>

            <div class="reaction-container">
              <div class="reactions-wrapper">
                <button class="reaction-btn">
                  <div class="reaction-info-menu">
                    <img
                      src="./../../../assets/emojis/nerd-face.svg"
                      alt="nerd"
                    />
                    <span class="user">Noah Braun</span>
                    <span>hat reagiert</span>
                  </div>
                  <img
                    src="./../../../assets/emojis/nerd-face.svg"
                    alt="nerd"
                  />
                  <span class="reaction-count">1</span>
                </button>
                <button class="mini-fab-btn" mat-mini-fab>
                  <mat-icon>add_reaction</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-list-item>

      <mat-list-item class="my-message">
        <div>
          <div id="reactionBar" class="reaction-bar">
            <button class="mini-fab-btn" mat-mini-fab>
              <mat-icon>add_reaction</mat-icon>
            </button>
            <button class="mini-fab-btn" mat-mini-fab>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>

          <div class="message-container">
            <div class="message-details">
              <div class="user-wrapper">
                <div class="time">14:45 Uhr</div>
                <div class="user-name">Frederik Beck</div>
              </div>

              <div class="text-bubble">Hey, ihr beiden!</div>

              <div class="reaction-container">
                <div class="reactions-wrapper">
                  <button class="reaction-btn">
                    <div class="reaction-info-menu">
                      <img
                        src="./../../../assets/emojis/waving-hand-sign.svg"
                        alt="nerd"
                      />
                      <span class="user">Sofia Müller</span>
                      <span>hat reagiert</span>
                    </div>
                    <img
                      src="./../../../assets/emojis/waving-hand-sign.svg"
                      alt="check"
                    />
                    <span class="reaction-count">1</span>
                  </button>
                  <button class="mini-fab-btn" mat-mini-fab>
                    <mat-icon>add_reaction</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <img class="user-img" src="./../../../assets/img/character3.png" />
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-footer>
    <div class="new-message-container">
      <input matInput type="text" placeholder="Antworten..." />

      <div class="message-controls">
        <div class="add-elements">
          <button
            class="mini-fab-button"
            mat-mini-fab
            class="add-doc mini-fab-btn"
          >
            <mat-icon>add</mat-icon>
          </button>
          <div class="vertical-divider"></div>
          <button mat-mini-fab class="emojis mini-fab-btn">
            <mat-icon>sentiment_satisfied</mat-icon>
          </button>
          <button mat-mini-fab class="tag-person mini-fab-btn">
            <mat-icon>alternate_email</mat-icon>
          </button>
        </div>
        <button  mat-mini-fab class="send-btn">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
