<section>
    <div class="channel-container">
        <div class="title-content">
            <h2>Channel erstellen</h2>
            <div class="icon-container">
                <mat-icon class="close-icon" (click)="close()">close</mat-icon>
            </div>
        </div>
        <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum
            Beispiel.</p>
        <div class="input-container">
            <h3>Channel-Name</h3>
            <div class="inputfield">
                <input type="text" placeholder="z.B. Kooperationsprojekte">
                <mat-icon class="hashtag-icon">tag</mat-icon>
            </div>
        </div>
        <div class="input-container">
            <div class="input-title">
                <h3>Beschreibung</h3>
                <p>(optional)</p>
            </div>
            <input type="text" placeholder="Dein Text hier">
        </div>
        <div class="btn-container">
            <button class="primary-btn">Erstellen</button>
        </div>
    </div>
</section>