<section>
    <div class="popup-container channel-container">
        <div class="title-content">
            <h3 class="n-h3">Channel erstellen</h3>
            <div class="icon-container">
                <mat-icon class="close-icon" (click)="close()">close</mat-icon>
            </div>
        </div>
        <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum
            Beispiel.</p>
        <div class="input-container">
            <p class="n-p bold">Channel-Name</p>
            <div class="inputfield">
                <input type="text" placeholder="z.B. Kooperationsprojekte">
                <mat-icon class="hashtag-icon">tag</mat-icon>
            </div>
        </div>
        <div class="input-container">
            <div class="input-title">
                <p class="n-p bold">Beschreibung</p>
                <p class="n-p">(optional)</p>
            </div>
            <input type="text" placeholder="Dein Text hier">
        </div>
        <div class="btn-container">
            <button class="btn-default btn-primary">Erstellen</button>
        </div>
    </div>
</section>