<div
  class="reaction-bar-section"
  [ngClass]="{
    'reaction-bar-section': true,
    'flex-column': isFromReactionContainer
  }"
>
  <button
    class="mini-fab-btn"
    mat-mini-fab
    [ngClass]="{ 'active-reaction': getReaction(message.id, 'check') }"
    (click)="setReaction('check', message!)"
  >
    <img src="./../../../assets/reaction/check.svg" alt="Check" />
  </button>
  <button
    class="mini-fab-btn"
    mat-mini-fab
    [ngClass]="{ 'active-reaction': getReaction(message.id, 'clap') }"
    (click)="setReaction('clap', message!)"
  >
    <img src="./../../../assets/reaction/clap.svg" alt="Clap" />
  </button>
  <ng-container *ngIf="reactionService.moreBtn">
    <button
      class="mini-fab-btn"
      mat-mini-fab
      [ngClass]="{ 'active-reaction': getReaction(message.id, 'nerd') }"
      (click)="setReaction('nerd', message!)"
    >
      <img src="./../../../assets/reaction/nerd.svg" alt="Nerd" />
    </button>
    <button
      class="mini-fab-btn"
      mat-mini-fab
      [ngClass]="{ 'active-reaction': getReaction(message.id, 'rocket') }"
      (click)="setReaction('rocket', message!)"
    >
      <img src="./../../../assets/reaction/rocket.svg" alt="Rocket" />
    </button>
  </ng-container>

  <button
    *ngIf="!reactionService.moreBtn"
    class="mini-fab-btn"
    mat-mini-fab
    (click)="showAllReactionBtn()"
  >
    <mat-icon>add_reaction</mat-icon>
  </button>
  <button
    *ngIf="isChannelMessage"
    (click)="openThread()"
    class="mini-fab-btn"
    mat-mini-fab
  >
    <mat-icon>comment</mat-icon>
  </button>
  <div *ngIf="isMyMessage" class="more-btn-container">
    <button class="mini-fab-btn more-btn" mat-mini-fab>
      <mat-icon>more_vert</mat-icon>
    </button>

    <div class="edit-msg-bubble">
      <button (click)="openEdit()">Nachricht bearbeiten</button>
    </div>
  </div>
</div>
