<mat-card-header>
    <div class="new-message-info">
        <div class="title-container">
            <h3 class="n-h3">Neue Nachricht</h3>
        </div>
        <div class="searchfield-container">
            <div class="searchfield-content">
                <input [(ngModel)]="searchword" type="text" class="searchfield" [ngClass]="{ active: inputActive }"
                    placeholder="An: #channel, oder @jemand oder E-Mail Adresse" (click)="openResults()"
                    (ngModelChange)="openResults()" appClickOutside (clickOutside)="closeResults()">



                <div *ngIf="searchword.length > 0 && inputActive" class="result-container">

                    <ng-container *ngIf="channelsearch || (inputActive && !usersearch)">
                        <div class="result-content">
                            <h4 class="n-h4">Channels</h4>
                            <!-- <div>
                                <p class="n-p">Keine Channels gefunden</p>
                            </div> -->
                            <div class="result-section">
                                <div class="result-header">
                                    <div class="result-title">
                                        <mat-icon class="result-icon">tag</mat-icon>
                                        <p class="n-p">Office-Team</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>




                    <ng-container *ngIf="usersearch || (inputActive && !channelsearch)">
                        <div class="result-content">
                            <h4 class="n-h4">User</h4>
                            <!-- <div>
                                <p class="n-p">Keine User gefunden</p>
                            </div> -->
                            <div class="result-section">
                                <div class="result-header">
                                    <div class="result-title">
                                        <div>
                                            <img src="../../../assets/img/character4.png" alt="Character"
                                                class="profile-icon">
                                            <div class="result-status-icon" [ngClass]=""></div>
                                        </div>
                                        <div>
                                            <p class="n-p">
                                                Gast
                                                <span>(Du)</span>
                                            </p>
                                            <a href="#" class="n-a">gast&#64;gmail.com</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>


                </div>
            </div>
        </div>
    </div>
</mat-card-header>