<mat-card-header>
    <div class="new-message-info">
        <div class="title-container">
            <h3 class="n-h3">Neue Nachricht</h3>
        </div>
        <div class="searchfield-container">
            <div class="searchfield-content">
                <input [(ngModel)]="searchword" type="text" class="searchfield" [ngClass]="{ active: inputActive }"
                    placeholder="An: #channel, oder @jemand oder E-Mail Adresse" (click)="openResults()"
                    (ngModelChange)="openResults()" appClickOutside (clickOutside)="closeResults()">



                <div *ngIf="searchword.length > 0 && inputActive" class="result-container">

                    <ng-container *ngIf="channelsearch || (inputActive && !usersearch)">
                        <div class="result-content">
                            <h4 class="n-h4">Channels</h4>
                            <div *ngIf="this.newMessageService.resultChannel.length == 0">
                                <p class="n-p">Keine Channels gefunden</p>
                            </div>
                            <div class="result-section" *ngFor="let channel of this.newMessageService.resultChannel">
                                <div class="result-header">
                                    <div class="result-title">
                                        <mat-icon class="result-icon">tag</mat-icon>
                                        <p class="n-p">{{ channel }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>




                    <ng-container *ngIf="usersearch || (inputActive && !channelsearch)">
                        <div class="result-content">
                            <h4 class="n-h4">User</h4>
                            <div *ngIf="this.newMessageService.resultUser.length == 0">
                                <p class="n-p">Keine User gefunden</p>
                            </div>
                            <div class="result-section" *ngFor="let user of this.newMessageService.resultUser">
                                <div class="result-header">
                                    <div class="result-title">
                                        <div>
                                            <img [src]="user.profileImage" alt="Profile Picture of {{ user.username }}"
                                                class="profile-icon">
                                            <div class="result-status-icon" [ngClass]="user?.state"></div>
                                        </div>
                                        <div>
                                            <p class="n-p">
                                                {{ user?.username }}
                                                <span *ngIf="user.userId === currentUserId">(Du)</span>
                                            </p>
                                            <a href="#" class="n-a">{{ user?.email }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>


                </div>
            </div>
        </div>
    </div>
</mat-card-header>