<mat-card-header>
    <div class="new-message-info">
        <div class="title-container">
            <h3 class="n-h3">Neue Nachricht</h3>
        </div>
        <div class="searchfield-container">
            <div class="searchfield-content">
                <input 
                    type="text" 
                    class="searchfield" 
                    [ngClass]="{ active: inputActive }"
                    placeholder="An: #channel, oder @jemand oder E-Mail Adresse"
                    >
            </div>

        </div>
    </div>
</mat-card-header>