mat-card-header {
  padding: 0;

  .new-message-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px 45px 20px 45px;
    box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.08);
  }

  .searchfield {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 42px;
    border: 1px solid var(--lines);
    outline: none;
    background-color: var(--white);
    font-family: "Nunito";
    font-weight: 400;
    font-size: 18px;
    line-height: 24.55px;

    &::placeholder {
      color: var(--gray);
    }

    &:focus-visible {
      border-color: var(--purple-2);
    }

    &:hover {
      border-color: var(--purple-2);
    }
  }
}

.searchfield-content {
  position: relative;
}

.active {
  border-radius: 30px 30px 0px 0px !important;
  border-bottom: none !important;
}

.result-container {
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
  scrollbar-width: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0px 0px 30px 30px;
  padding: 0px 20px 15px 20px;
  gap: 30px;
  transition: all 100ms ease-in-out;
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.2);
  border: 1px solid;
  border-top-color: var(--white);
  border-right-color: var(--purple-2);
  border-bottom-color: var(--purple-2);
  border-left-color: var(--purple-2);
}

.result-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.result-section {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-color);
    border-radius: 30px;
  }
}

.result-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px 5px 0px;
  gap: 15px;
}

.result-title {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  mat-icon {
    width: 24px;
    height: 24px;
  }

  .profile-icon {
    height: 50px;
    width: 50px;
    border-radius: 30px;
  }

  .result-status-icon {
    width: 14px;
    height: 14px;
    border: 2px solid var(--white);
    border-radius: 50%;
    position: absolute;
    top: 38px;
    left: 34px;
  }
}

.n-a {
  color: var(--blue);
  font-size: 12px !important;
  line-height: 12.6px !important;
}

/* Smartphones - - - - - - - - - */

@media only screen and (max-width: 960px) {
  mat-card-header {
    .n-h3 {
      font-size: 20px;
    }

    .new-message-info {
      height: 125px;
      gap: 10px;
      padding: 16px 16px 7px 16px;
    }

    .searchfield {
      font-size: 16px;
      padding: 10px 20px;
    }
  }
}
