header {
  padding: 16px 45px 0 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  gap: 16px;
}

.logo {
  width: 242px;
  height: fit-content;
  cursor: pointer;
}

.searchfield-container {
  position: relative;
  display: flex;
  width: 100%;
  margin-left: calc(366px - 271px); // Logo space + page margin left
  margin-right: calc(366px - 271px); // Logo space + page margin left
  align-items: center;
}

.searchfield-content {
  width: 100%;
}

.searchfield {
  // max-width: 989px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 45px;
  border-radius: 42px;
  border: 1px solid var(--white);
  outline: none;

  &::placeholder {
    font-weight: 400;
    font-size: 24px;
    line-height: 32.74px;
    color: var(--gray);
  }

  &:focus-visible {
    border-color: var(--purple-2);
  }

  &:hover {
    border-color: var(--purple-2);
  }
}

input.placeholder {
  text-align: center;
}

input[type="text"] {
  font-weight: 400;
  font-size: 24px;
  line-height: 32.74px;
  color: var(--gray);
  text-align: left;
}

.search-icon {
  width: 35px;
  height: 35px;
  color: var(--gray);
  position: absolute;
  top: 23px;
  right: 29px;
  cursor: pointer;
}

.searchfield-container:hover .active {
  border-color: unset;
  border-top-color: var(--purple-2);
  border-right-color: var(--purple-2);
  border-bottom-color: var(--white);
  border-left-color: var(--purple-2);
}

.searchfield-container:hover .searchfield:not(.active) {
  border-color: var(--purple-2);
}

.user-div {
  position: relative;
}

.user-container {
  // width: 342px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;

  &:hover {
    .user-name,
    .arrow-icon {
      color: var(--purple-3);
    }

    .arrow-icon {
      transform: scale(1.2);
    }
  }
}

.user-name {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 32px;
  line-height: 43.65px;
  color: var(--black);
}

.img-content {
  position: relative;

  img {
    width: 70px;
    height: 70px;
    border-radius: 42px;
  }
}

.status-icon {
  width: 16.67px;
  height: 16.67px;
  border: 2px solid var(--white);
  border-radius: 50%;
  position: absolute;
  bottom: 4px;
  right: 7px;
}

.online {
  background-color: var(--green);
}

.offline {
  background-color: var(--rosa);
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 30px 0px 30px 30px;
  padding: 30px;
  gap: 15px;
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 1;
  transition: all 100ms ease-out;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 222px;
  text-decoration: none;
  font-family: "Nunito";
  color: var(--black);
  font-weight: 600;
  font-size: 24px;
  line-height: 32.74px;
  cursor: pointer;
}

.d-none {
  display: none;
}

.profile-content {
  display: flex;
  align-items: center;
  border-radius: 35px;
  padding: 4px 20px;
  gap: 15px;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-color);
    border-radius: 35px;
    color: var(--black);
  }
}

.profile {
  display: flex;
  position: relative;

  img {
    height: 50px;
    width: 50px;
  }
}

.profile-left {
  min-width: 145px;
  max-width: 200px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-icon {
  border-radius: 30px;
}

.result-container {
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
  scrollbar-width: none;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0px 0px 30px 30px;
  padding: 0px 30px 16px 30px;
  gap: 15px;
  transition: all 100ms ease-in-out;
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.2);
  border: 1px solid;
  border-top-color: var(--white);
  border-right-color: var(--purple-2);
  border-bottom-color: var(--purple-2);
  border-left-color: var(--purple-2);
}

.active {
  border-radius: 42px 42px 0px 0px !important;
  border-color: unset;
  border-top-color: var(--purple-2);
  border-right-color: var(--purple-2);
  border-bottom-color: var(--white);
  border-left-color: var(--purple-2);

  &:focus-visible {
    border-color: unset;
    border-top-color: var(--purple-2);
    border-right-color: var(--purple-2);
    border-bottom-color: var(--white);
    border-left-color: var(--purple-2);
  }
}

.result-status-icon {
  width: 14px;
  height: 14px;
  border: 2px solid var(--white);
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 34px;
}

.n-h4 {
  padding-left: 16px;
}

.result-user-container,
.result-dm-container,
.result-channel-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.channels-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 4px 20px;
  background-color: var(--white);
  box-shadow: unset !important;
  color: var(--black) !important;
}

.channels-section {
  display: flex;
  justify-content: space-between;
}

.channels-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px 5px 0px;
  gap: 15px;
}

.channels-title {
  display: flex;
  align-items: center;
  gap: 10px;

  mat-icon {
    width: 24px;
    height: 24px;
  }
}

.dm-content {
  padding: 20px 20px;
  padding-top: 32px !important;
}

.profile-right {
  width: 100%;
}

.workspace-content {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  flex-shrink: 1;

  .workspace-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 30px;
    }

    h4 {
      padding-left: 0;
      font-weight: bold !important;
    }
  }

  .arrow-back {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}

/* Smartphones - - - - - - - - - */

@media only screen and (max-width: 960px) {
  .searchfield-container,
  .user-name,
  .arrow-container {
    display: none;
  }

  header {
    padding: 15px 16px 15px 16px;
  }

  .logo {
    width: 161.5px;
  }

  .img-content {
    img {
      width: 50px;
      height: 50px;
    }
  }
}
