<header>
  <img
    *ngIf="headerLogo === 'daBubble'"
    src="../../../assets/img/logo-with-font.png"
    alt="Logo Dabubble"
    class="logo"
  />
  <div *ngIf="headerLogo === 'channelLogo'" class="workspace-content">
    <div class="arrow-back" (click)="backToWorkspacemenu()">
      <mat-icon>chevron_left</mat-icon>
    </div>

    <div class="workspace-title">
      <img src="../assets/img/workspace-logo.png" alt="Workspace Logo" />
      <h4 class="n-h4 bold">Devspace</h4>
    </div>
  </div>
  <div class="searchfield-container">
    <div class="searchfield-content">
      <input
        #search
        [(ngModel)]="searchInputValue"
        type="text"
        [placeholder]="
          isSmallScreen ? 'Suchen...' : 'Code learning durchsuchen'
        "
        class="searchfield active"
        [ngClass]="{ active: this.sharedService.isResults }"
        (click)="openResults()"
        (ngModelChange)="openResults()"
        appClickOutside
        (clickOutside)="closeResults()"
      />
      <mat-icon class="search-icon" (click)="openResults()">search</mat-icon>

      <ng-container *ngIf="searchInputValue.length > 0">
        <div *ngIf="this.sharedService.isResults">
          <app-search></app-search>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="user-div">
    <div class="user-container" (click)="openPopup($event)">
      <div class="user-name">{{ currentUser?.username }}</div>
      <div class="img-content">
        <img src="{{ currentUser?.profileImage }}" alt="User" />
        <div class="status-icon" ngClass="{{ currentUser?.state }}"></div>
      </div>
      <div class="arrow-container">
        <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
      </div>
    </div>
    <div
      class="info-container"
      *ngIf="clickedUser"
      appClickOutside
      (clickOutside)="closePopup()"
    >
      <a (click)="openProfile($event)">Profil</a>
      <a (click)="logOut($event)">Log out</a>
    </div>
  </div>
</header>
<app-my-profile
  *ngIf="clickedProfile"
  [clickedProfile]="clickedProfile"
  (clickedProfileChange)="profileClosed()"
></app-my-profile>
