<mat-card appearance="outlined">
  <mat-card-header>
    <div class="channel-info">
      <div class="channel-info-content">
        <button class="channel-btn" (click)="editChannel()">
          <mat-icon class="icon tag">tag</mat-icon>
          <span>{{ channel.channelName }}</span>
          <mat-icon class="icon arrow">keyboard_arrow_down</mat-icon>
        </button>
        <app-edit-channel
          class="edit-channel-container"
          *ngIf="clickedEditChannel"
        ></app-edit-channel>
      </div>
      <div class="members-container">
        <div class="members-container-content">
          <button class="channel-btn" (click)="toggleMembers(true)">
            <div class="img-container">
              <img
                *ngFor="let member of channel.channelMember"
                src="./../../../{{ member.profileImage }}"
                alt="member"
              />
            </div>
            <span class="number-members">{{
              channel.channelMember.length
            }}</span>
          </button>
          <app-member (clickedMembers)="toggleMembers($event)" class="app-member" *ngIf="clickedMembers"></app-member>
        </div>
        <div class="add-member-container" (click)="addMembers()">
          <button class="add-member-btn" mat-mini-fab>
            <mat-icon>person_add</mat-icon>
          </button>
          <app-add-member
            class="add-member-content"
            *ngIf="clickedAddMembers"
          ></app-add-member>
        </div>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="main-chat">
      <mat-list>
        <mat-list-item>
          <div class="my-message">
            <div class="divider-container">
              <mat-divider> </mat-divider>
              <div class="message-date">Heute</div>
            </div>

            <div class="message-container">
              <div id="reactionBar" class="reaction-bar">
                <button class="mini-fab-btn" mat-mini-fab>
                  <img src="./../../../assets/emojis/check.png" alt="check" />
                </button>
                <button class="mini-fab-btn" mat-mini-fab>
                  <img
                    src="./../../../assets/emojis/raising-both-hands.svg"
                    alt="hands up"
                  />
                </button>
                <button class="mini-fab-btn" mat-mini-fab>
                  <mat-icon>add_reaction</mat-icon>
                </button>
                <button class="mini-fab-btn" mat-mini-fab>
                  <mat-icon>comment</mat-icon>
                </button>
              </div>

              <div class="message-details">
                <div class="user-wrapper">
                  <div class="time">14:30 Uhr</div>
                  <div class="user-name">Frederik Beck</div>
                </div>

                <div class="text-bubble">Hallo, willkommen im Chat!</div>
                <div class="reaction-container">
                  <div class="reactions-wrapper">
                    <button class="reaction-btn">
                      <div class="reaction-info-menu">
                        <img
                          src="./../../../assets/emojis/rocket.svg"
                          alt="nerd"
                        />
                        <span class="user">Noah Braun</span>
                        <span>hat reagiert</span>
                      </div>
                      <img
                        src="./../../../assets/emojis/rocket.svg"
                        alt="check"
                      />
                      <span class="reaction-count">1</span>
                    </button>

                    <button class="reaction-btn">
                      <div class="reaction-info-menu">
                        <img
                          src="./../../../assets/emojis/check.png"
                          alt="rocket"
                        />
                        <span class="user">Sofia Müller</span>
                        <span>hat reagiert</span>
                      </div>
                      <img
                        src="./../../../assets/emojis/check.png"
                        alt="check"
                      />
                      <span class="reaction-count">1</span>
                    </button>
                    <button class="mini-fab-btn" mat-mini-fab>
                      <mat-icon>add_reaction</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <img
                class="user-img"
                src="./../../../assets/img/character3.png"
              />
            </div>
          </div>
        </mat-list-item>

        <!-- <ng-container
          *ngIf="channelMessages$ | async as channelMessages"
        > -->
        <app-channel-message
          (clickedAnswer)="handleThreadClick($event)"
          *ngFor="let channelMessage of getMessageList()"
          [channelMessage]="channelMessage"
        ></app-channel-message>
        <!-- </ng-container> -->
      </mat-list>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <app-channel-new-message-input
      [channel]="channel"
    ></app-channel-new-message-input>
  </mat-card-footer>
</mat-card>
