@import "./../../../styles.scss";

:host {
  display: flex;
  width: 100%;
}

mat-card {
  height: calc(100vh - 125.5px);
  display: flex;
  flex: 1;
  @include cardstyling();
}

mat-card-header {
  padding: 0;
  height: 96px;

  .channel-info {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
    box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.08);
  }

  .channel-info-content {
    position: relative;
  }

  .edit-channel-container {
    position: absolute;
    bottom: 0;
  }

  .channel-btn {
    width: auto;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: var(--black);
    font-weight: 700;
    text-align: left;
    border-radius: 100px;
    padding: 6px 10px 6px 10px;
    border: none;
    background-color: white;
    cursor: pointer;

    &:hover {
      background-color: var(--bg-color);
      color: var(--purple-3);
    }
  }
}

.icon {
  height: 100%;
  width: auto;
}

.tag {
  font-size: 32px;
}

.arrow {
  font-size: 30px;
  padding: 3px;
}

.members-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 12px;

  .img-container {
    display: flex;
    padding-left: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 100px;
      border: 2px solid var(--white);
      margin-left: -10px;
    }
  }

  .add-member-container {
    cursor: pointer;
    position: relative;
  }

  .add-member-content {
    position: absolute;
    right: 0;
    top: 58px;
  }

  .add-member-btn {
    background-color: var(--bg-color);
    box-shadow: none;

    &:hover {
      --mat-fab-small-state-layer-color: var(--white);
      color: var(--purple-3);
      .mat-icon {
        font-weight: bold;
      }
    }
  }

  .number-members {
    font-weight: 600;
    font-size: 20px;
  }
}

.members-container-content {
  position: relative;
}

.app-member {
  position: absolute;
  right: 0;
  top: 58px;
}

mat-card-content {
  padding: 16px 0 0 0;
  flex: 1;
  margin-bottom: 180px;
  overflow: auto;
}

mat-card-footer {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: calc(100% - 32px);
}

.main-chat {
  height: 100%;
}

mat-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 8px;
  color: var(--black);
  height: 100%;
}

mat-list-item {
  overflow: visible;
  padding: 0;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: fit-content;
}

.mini-fab-btn {
  background-color: var(--white);
  box-shadow: none;
  color: var(--gray);
  cursor: pointer;

  &:hover {
    color: var(--purple-3);
    background-color: var(--bg-color);
    --mat-fab-small-state-layer-color: var(--white);
    box-shadow: none;

    .mat-icon {
      font-weight: bold;
    }
  }
}

::ng-deep mat-list-item .mdc-list-item__content {
  overflow: visible;
}

/* Smartphones - - - - - - - - - */

@media only screen and (max-width: 960px) {
  mat-card {
    display: none;
    height: calc(100vh - 80px);
    width: 100vw;
    border-radius: 0px;
  }

  .members-container-content {
    display: none;
  }

  mat-card-header {
    height: 60px;

    .channel-info {
      height: 60px;
      padding: 0px 6px;
    }

    .channel-btn {
      gap: 5px;
    }
  }

  .arrow {
    padding-top: 1px;
    padding-left: 0px;
  }

  .tag {
    font-size: 28px;
    padding-top: 1px;
  }

  .members-container {
    .add-member-btn {
      height: 36px;
      width: 36px;
    }
  }
}
