<div class="wrapper reset-password">
    <form > <!-- [formGroup]="userForm" -->
    <mat-card appearance="outlined" class="login-card">


        <button class="arrow-back-button"><mat-icon class="icon">arrow_back</mat-icon></button>
        <h1>Passwort zurücksetzen</h1>
        <input type="text" placeholder="Neues Passwort">
        <input type="text" placeholder="Neues Passwort bestätigen" >
        <div class="next-button-container">
            <button type="submit" class="next-button">Passwort ändern</button>
        </div>




    </mat-card>
    </form >
</div>
