<div class="message-container">
  <div [ngClass]="{ 'my-message': isMyMessage }">
    <div *ngIf="message.isFirstMessageOfDay" class="divider-container">
      <div>
        <mat-divider> </mat-divider>
        <div class="message-date">
          {{ chatService.formatDate(message.date) }}
        </div>
      </div>
    </div>
    <div *ngIf="message.isFirstMessageOfDay === false" class="divider-container-none">
    </div>

    <div class="message" (mouseleave)="closeReactionMoreBtn()">
      <div id="reactionBar" class="reaction-bar">
        <app-reaction-bar [isMyMessage]="isMyMessage" [message]="message"></app-reaction-bar>
      </div>
      <div class="message-wrapper">
        <img class="user-img" src="./../../../{{ message.profileImg }}" />

        <div class="message-details">
          <div class="user-wrapper">
            <div class="user-name">{{ message.authorName }}</div>
            <div class="time">
              {{ chatService.formatTime(message.time) }} Uhr
            </div>
          </div>
          <div class="text-bubble">{{ message.text }}</div>
          <app-reaction-container></app-reaction-container>
        </div>
      </div>
    </div>
  </div>
</div>