<div class="popup-container tag-person-container" appClickOutside (clickOutside)="closeWindow()">
  <div class="title-content">
    <h4 class="n-h4">Leute erwähnen</h4>
    <div class="icon-container">
      <mat-icon class="close-icon" (click)="closeWindow()">close</mat-icon>
    </div>
  </div>
  <input [(ngModel)]="searchText" (ngModelChange)="searchMember()" (click)="searchMember()" type="text"
    placeholder="Name eingeben">

  <div class="profile-container">
    <div *ngIf="filteredMembers.length === 0">
      <p class="n-p">Keine User gefunden</p>
    </div>

    <div *ngFor="let member of filteredMembers; let i = index" (click)="selectMember(member)">
      <div class="profile-content">
        <div class="profile">
          <img [src]="member.profileImage" alt="Character" class="profile-icon">
          <div class="status-icon online" [ngClass]="member.state"></div>
        </div>
        <p class="n-p">
          {{ member.username }}
          <span *ngIf="member.username === currentUser">(Du)</span>
        </p>
      </div>
    </div>
  </div>
</div>
