<div class="result-container">

    <div class="result-channel-container">
        <h4 class="n-h4">Channels</h4>

        <div *ngIf="this.searchService.resultChannel.length === 0" class="no-message-container">
            <p class="n-p">Keine Channels mit Nachrichten gefunden</p>
        </div>

        <ng-container *ngIf="this.searchService.resultChannel.length > 0">
            <div *ngFor="let channel of this.searchService.resultChannel; let i = index"
                (click)="openChannel($event, channel)">
                <div class="profile-content dm-content">
                    <div class="profile-left">
                        <div class="channels-section">
                            <div class="channels-header">
                                <div class="channels-title">
                                    <mat-icon class="channel-icon">tag</mat-icon>
                                    <p class="n-p">{{ channel.channelName }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-right">
                        <div class="profile-up">
                            <mat-divider> </mat-divider>
                            <div class="message-date">
                                {{ chatService.formatDate(channel.message.date) }}
                            </div>
                        </div>
                        <div class="profile-down">
                            <div class="my-message">
                                <div class="message-wrapper">
                                    <div class="profile-img">
                                        <img class="user-img" src="{{ channel.message.profileImage }}" />
                                    </div>


                                    <div class="message-details">
                                        <div class="user-wrapper">
                                            <div class="user-name">{{ channel.message.authorName }}</div>
                                            <div class="time">
                                                {{ chatService.formatTime(channel.message.time) }} Uhr
                                            </div>
                                        </div>
                                        <div class="text-bubble">
                                            <ng-container
                                                *ngIf="directMessageService.isImage(channel.message.text); else textContent">
                                                <img [src]="channel.message.text" alt="Image" class="message-image" />
                                            </ng-container>
                                            <ng-template #textContent>{{ channel.message.text }}</ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>


    <div class="result-channel-container">
        <h4 class="n-h4">Threads</h4>

        <div *ngIf="this.searchService.resultThread.length === 0" class="no-message-container">
            <p class="n-p">Keine Threads mit Nachrichten gefunden</p>
        </div>

        <ng-container *ngIf="this.searchService.resultThread.length > 0">
            <div *ngFor="let thread of this.searchService.resultThread; let i = index" (click)="openThread(thread)">
                <div class="profile-content dm-content">
                    <div class="profile-left">
                        <div class="channels-section">
                            <div class="channels-header">
                                <div class="channels-title">
                                    <mat-icon class="channel-icon">tag</mat-icon>
                                    <p class="n-p">{{ thread.channelName }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-right">
                        <div class="channel-thread-message-channel">
                            <div class="c-t-m-container">
                                <div class="profile-section">
                                    <img src="{{ thread.replyToMessage.profileImg }}"
                                        alt="{{ thread.replyToMessage.authorName }} Profile Image">
                                    <div>&commat;{{ thread.replyToMessage.authorName }}</div>
                                </div>
                                <ng-container
                                    *ngIf="directMessageService.isImage(thread.replyToMessage.text); else threadtextContent">
                                    <img [src]="thread.replyToMessage.text" alt="Image" class="message-image" />
                                </ng-container>
                                <ng-template #threadtextContent>
                                    <div>{{ thread.replyToMessage.text }}</div>
                                </ng-template>
                            </div>
                            <mat-icon>comment</mat-icon>
                        </div>


                        <div>
                            <div class="profile-up">
                                <mat-divider> </mat-divider>
                                <div class="message-date">
                                    {{ chatService.formatDate(thread.message.date) }}
                                </div>
                            </div>
                            <div class="profile-down thread-profile-down">

                                <div class="my-message channel-thread-message-thread">
                                    <div class="message-wrapper">
                                        <div class="profile-img">
                                            <img class="user-img" src="{{ thread.message.profileImage }}" />
                                        </div>

                                        <div class="message-details">
                                            <div class="user-wrapper">
                                                <div class="user-name">{{ thread.message.authorName }}</div>
                                                <div class="time">
                                                    {{ chatService.formatTime(thread.message.time) }} Uhr
                                                </div>
                                            </div>
                                            <div class="text-bubble">
                                                <ng-container
                                                    *ngIf="directMessageService.isImage(thread.message.text); else textContent">
                                                    <img [src]="thread.message.text" alt="Image"
                                                        class="message-image" />
                                                </ng-container>
                                                <ng-template #textContent>{{ thread.message.text }}</ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </ng-container>
    </div>


    <div class="result-dm-container">
        <h4 class="n-h4">Direktnachrichten</h4>

        <div *ngIf="this.searchService.resultDM.length === 0" class="no-message-container">
            <p class="n-p">Keine Direktnachrichten gefunden</p>
        </div>


        <div *ngFor="let dm of this.searchService.resultDM; let i = index" (click)="openDM($event, dm)">
            <div class="profile-content dm-content">
                <div class="profile-left">
                    <div class="profile">
                        <img [src]="dm.profileImg" alt="Character" class="profile-icon">
                    </div>
                    <p class="n-p">
                        {{ dm.profileName }}
                        <span *ngIf="dm?.profileName === this.currentUser?.username">(Du)</span>
                    </p>
                </div>
                <div class="profile-right">
                    <div class="profile-up">
                        <mat-divider> </mat-divider>
                        <div class="message-date">
                            {{ chatService.formatDate(dm.date) }}
                        </div>
                    </div>
                    <div class="profile-down">
                        <div class="my-message">
                            <div class="message-wrapper">
                                <div class="profile-img">
                                    <img class="user-img" src="{{ dm.authorImg }}" />
                                </div>


                                <div class="message-details">
                                    <div class="user-wrapper">
                                        <div class="user-name">{{ dm.authorName }}</div>
                                        <div class="time">
                                            {{ chatService.formatTime(dm.time) }} Uhr
                                        </div>
                                    </div>
                                    <div class="text-bubble">
                                        <ng-container *ngIf="directMessageService?.isImage(dm.text); else textContent">
                                            <img [src]="dm.text" alt="Image" class="message-image" />
                                        </ng-container>
                                        <ng-template #textContent>{{ dm.text }}</ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="result-user-container">
        <h4 class="n-h4">User</h4>

        <div *ngIf="this.searchService.resultUser.length === 0" class="no-message-container">
            <p class="n-p">Keine User gefunden</p>
        </div>

        <div *ngFor="let user of this.searchService.resultUser; let i = index"
            (click)="openProfile($event, user.userId)">
            <div class="profile-content">
                <div class="profile">
                    <img [src]="user.profileImage" alt="Character" class="profile-icon">
                    <div class="result-status-icon" [ngClass]="user.state"></div>
                </div>
                <p class="n-p">
                    {{ user.username }}
                    <span *ngIf="user?.username === this.currentUser?.username">(Du)</span>
                </p>
            </div>
        </div>
    </div>
</div>