<div class="result-container">
    <div class="result-channel-container">
        <h4 class="n-h4">Channel</h4>
        <div *ngFor="let channel of this.searchService.channelList; let i = index" (click)="openChannel()">
            <ng-container *ngFor="let message of this.searchService.channelMessage; let i = index">
                <div class="profile-content dm-content">
                    <div class="profile-left">
                        <div class="channels-section">
                            <div class="channels-header">
                                <div class="channels-title">
                                    <mat-icon class="channel-icon">tag</mat-icon>
                                    <p class="n-p">{{ channel.channelName }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-right">
                        <div class="profile-up">
                            <mat-divider> </mat-divider>
                            <div class="message-date">
                                {{ chatService.formatDate(message.date) }}
                            </div>
                        </div>
                        <div class="profile-down">
                            <div class="my-message">
                                <div class="message-wrapper">
                                    <div class="profile-img">
                                        <img class="user-img" src="{{ message.profileImage }}" />
                                        <!-- <div class="result-status-icon"></div> -->
                                    </div>


                                    <div class="message-details">
                                        <div class="user-wrapper">
                                            <div class="user-name">{{ message.authorName }}</div>
                                            <div class="time">
                                                {{ chatService.formatTime(message.time) }} Uhr
                                            </div>
                                        </div>
                                        <div class="text-bubble">
                                            <ng-container
                                                *ngIf="directMessageService.isImage(message.text); else textContent">
                                                <img [src]="message.text" alt="Image"
                                                    class="message-image" />
                                            </ng-container>
                                            <ng-template #textContent>{{ message.text }}</ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>


    <div class="result-dm-container">
        <h4 class="n-h4">Direktnachrichten</h4>
        <div *ngFor="let dm of this.searchService.directMessage; let i = index" (click)="openDM()">
            <div class="profile-content dm-content">
                <div class="profile-left">
                    <div class="profile">
                        <img [src]="dm.profileImg" alt="Character" class="profile-icon">
                        <div class="result-status-icon" [ngClass]="dm.profileState"></div>
                    </div>
                    <p class="n-p">
                        {{ dm.profileName }}
                        <span *ngIf="dm?.profileName === this.currentUser?.username">(Du)</span>
                    </p>
                </div>
                <div class="profile-right">
                    <div class="profile-up">
                        <mat-divider> </mat-divider>
                        <div class="message-date">
                            {{ chatService.formatDate(dm.date) }}
                        </div>
                    </div>
                    <div class="profile-down">
                        <div class="my-message">
                            <div class="message-wrapper">
                                <div class="profile-img">
                                    <img class="user-img" src="{{ dm.authorImg }}" />
                                    <div class="result-status-icon" [ngClass]="dm.authorstate"></div>
                                </div>


                                <div class="message-details">
                                    <div class="user-wrapper">
                                        <div class="user-name">{{ dm.authorName }}</div>
                                        <div class="time">
                                            {{ chatService.formatTime(dm.time) }} Uhr
                                        </div>
                                    </div>
                                    <div class="text-bubble">
                                        <ng-container *ngIf="directMessageService?.isImage(dm.text); else textContent">
                                            <img [src]="dm.text" alt="Image" class="message-image" />
                                        </ng-container>
                                        <ng-template #textContent>{{ dm.text }}</ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="result-user-container">
        <h4 class="n-h4">User</h4>
        <div *ngFor="let user of this.searchService.userList; let i = index" (click)="openProfile()">
            <div class="profile-content">
                <div class="profile">
                    <img [src]="user.profileImage" alt="Character" class="profile-icon">
                    <div class="result-status-icon online" [ngClass]="user.state"></div>
                </div>
                <p class="n-p">
                    {{ user.username }}
                    <span *ngIf="user?.username === this.currentUser?.username">(Du)</span>
                </p>
            </div>
        </div>
    </div>
</div>