<section>
    <div class="profile-container" appClickOutside (clickOutside)="close()">
        <div class="profile-title">
            <h3 class="n-h3">Profil</h3>
            <div class="icon-container">
                <mat-icon class="close-icon" (click)="close()">close</mat-icon>
            </div>
        </div>
        <img class="profile-img" src="{{  this.user?.profileImage }}" alt="Profile Image">
        <div class="profile-info">
            <h2 class="n-h2">{{ this.user?.username }}</h2>
            <div class="status-container">
                <div class="status-icon" ngClass="{{  this.user?.state }}"></div>
                <p class="n-p online-text" *ngIf="user?.state === 'online'">Online</p>
                <p class="n-p offline-text" *ngIf="user?.state === 'offline'">Offline</p>
                <p class="n-p absent-text" *ngIf="user?.state === 'absent'">Abwesend</p>
            </div>
        </div>
        <div class="mail-container">
            <div class="mail-info">
                <mat-icon>mail</mat-icon>
                <h4 class="n-h4">E-Mail-Adresse</h4>
            </div>
            <a [href]="'mailto:' + user?.email">{{ user?.email }}</a>
        </div>
        <button class="btn-default btn-primary" (click)="openDM()">
            <mat-icon>mode_comment</mat-icon>
            Nachricht
        </button>
    </div>    
</section> 