<section>
    <div class="profile-container">
        <div class="profile-title">
            <h3 class="n-h3">Profil</h3>
            <div class="icon-container">
                <mat-icon class="close-icon" (click)="close()">close</mat-icon>
            </div>
        </div>
        <img class="profile-img" src="{{  this.sharedService.profile.profileImage }}" alt="Profile Image">
        <div class="profile-info">
            <h2 class="n-h2">{{ this.sharedService.profile.username }}</h2>
            <div class="status-container">
                <div class="status-icon" ngClass="{{  this.sharedService.profile.state }}"></div>
                <p class="n-p absent-text">Abwesend</p>
            </div>
        </div>
        <div class="mail-container">
            <div class="mail-info">
                <mat-icon>mail</mat-icon>
                <h4 class="n-h4">E-Mail-Adresse</h4>
            </div>
            <a href="">{{  this.sharedService.profile.email }}</a>
        </div>
        <button class="primary-btn">
            <mat-icon>mode_comment</mat-icon>
            Nachricht
        </button>
    </div>    
</section> 
