<section>
    <div class="profile-container">
        <div class="profile-title">
            <h3>Profil</h3>
            <div class="icon-container">
                <mat-icon class="close-icon" (click)="close()">close</mat-icon>
            </div>
        </div>
        <img class="profile-img" src="../../../assets/img/character2.png" alt="Profile Image">
        <div class="profile-info">
            <h2>Elise Roth</h2>
            <div class="status-container">
                <div class="status-icon away"></div>
                <p class="away-text">Abwesend</p>
            </div>
        </div>
        <div class="mail-container">
            <div class="mail-info">
                <mat-icon>mail</mat-icon>
                <h4>E-Mail-Adresse</h4>
            </div>
            <a href="">rothelise&#64;beispiel.com</a>
        </div>
        <button class="primary-btn">
            <mat-icon>mode_comment</mat-icon>
            Nachricht
        </button>
    </div>    
</section> 
