@import "./../../../styles.scss";
@import "./../../channel/channel/channel.component.scss";
@import "./../../thread/thread.component.scss";

.message {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 24px 10px 24px;

  &:hover {
    background-color: var(--bg-color);

    .text-bubble {
      background-color: var(--white);
    }

    .last-answer {
      color: var(--black);
    }

    .reaction-bar {
      opacity: 1;
      right: 24px;
      transition: right 0.15s ease-out, opacity 0.15s ease-out;
    }
  }
}

.my-message {
  .message {
    position: relative;
    justify-content: flex-end;

    &:hover {
      .reaction-bar {
        opacity: 1;
        left: 24px;
        transition: left 0.15s ease-out, opacity 0.15s ease-out;
      }
    }
  }

  .message-wrapper {
    flex-direction: row-reverse;
  }

  .message-details {
    align-items: flex-end;
  }

  .user-wrapper {
    justify-content: flex-end;
  }

  .text-bubble {
    border-radius: 30px 0 30px 30px;
    background-color: var(--purple-2);
    color: var(--white);
  }

  .reaction-bar {
    right: unset;
    left: 90px;
    width: fit-content;
  }

  .reactions-wrapper {
    justify-content: flex-end;
  }

  &:hover {
    .text-bubble {
      background-color: var(--purple-2);
    }
  }
}

.divider-container {
  position: relative;
  margin: 32px 20px 32px 20px;

  mat-divider {
    border-top-color: var(--lines);
  }

  .message-date {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: fit-content;
    border: 1px solid var(--lines);
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    background-color: var(--white);
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
  }
}

.more-btn:hover + .edit-msg-bubble {
  display: flex;
}

.edit-msg-bubble {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 36px;
  left: -50px;
  width: 250px;
  height: 48px;
  border-radius: 0 25px 25px 25px;
  background-color: white;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);

  &:hover {
    display: flex;
  }

  button {
    font-family: "Nunito";
    font-size: 20px;
    padding: 5px 10px;
    border-style: none;
    border-radius: 100px;
    background-color: white;
    cursor: pointer;
    &:hover {
      background-color: var(--bg-color);
      color: var(--purple-3);
      font-weight: bold;
    }
  }
}

.edit-textbox {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: fit-content;
  border-radius: 20px;
  border: 1px solid var(--lines);
  padding: 18px;
  gap: 16px;
  background-color: var(--white);

  textarea {
    border: none;
    color: var(--gray);
    font-family: "Nunito";
    font-size: 18px;
    padding: 0;
    margin: 0;
    resize: none;
  }

  textarea:focus {
    outline: none;
  }

  &:focus-within {
    border: 1px solid var(--purple-2);
  }

  .edit-options-wrapper {
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }

  .btn-edit-thread {
    padding: 5px 10px;
    font-size: 16px;
  }
}

.bg-color {
  background-color: var(--bg-color);
}

.edit-container {
  position: relative;
}

/* Smartphones - - - - - - - - - */

@media only screen and (max-width: 960px) {
  .message {
    padding: 0 16px 0 16px;
  }
}
