@import "./../../../styles.scss";

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 3;
  border-radius: 0px 30px 30px 30px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.popup-container {
  padding: 40px 40px 40px 40px;
  box-shadow: none;
  background-color: var(--white);
}

.popup-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.channel-container {
  width: clamp(300px, 63vw, 872px);
  min-height: 500px;
  max-height: 616px;
  position: relative;
  z-index: 1;
}

.mobile-shadow {
  width: 100%;
  border-radius: 0px 30px 0px 0px;
}

.header {
  width: 100%;
}

.title-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.title-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  mat-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  padding: 20px;
}

.border {
  border: 1px solid var(--lines);
}

.inputfield {
  display: flex;
  gap: 10px;
  padding: 2px 1px;
}

.title-save-div {
  display: flex;
  justify-content: space-between;
  padding-right: 24px;

  a {
    text-decoration: none;
    font-family: "Nunito";
    font-weight: 600;
    font-size: 18px;
    line-height: 24.55px;
    color: var(--purple-3);
    cursor: pointer;
    transition: all 100ms ease-out;
  }
}

.inputfield {
  position: relative;

  input[type="text"] {
    padding: 18px 20px 18px 60px;
    border: 1px solid var(--lines);
  }
}

.line {
  width: 100%;
  border: 1px solid var(--lines);
}

.creator-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .n-h3 {
    font-weight: 400 !important;
  }
}

input[type="text"] {
  width: 100%;
  display: flex;
  border-radius: 40px;
  border: 1px solid var(--lines);
  padding: 18px 20px 18px 20px;
  gap: 20px;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 18px;
  line-height: 24.55px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.bold {
  font-weight: 700 !important;
  padding-right: 24px;
}

.color-p-3 {
  color: var(--purple-3);
}

.padding-left {
  padding-left: 20px !important;
}

/* Smartphones - - - - - - - - - */

@media only screen and (max-width: 1200px) {
  .channel-container {
    width: clamp(300px, 54vw, 872px);
  }
}

@media only screen and (max-width: 960px) {
  section {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 0 0;
  }

  .channel-container {
    max-height: unset;
  }

  .popup-container {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 0px 0px;
    padding: 40px 0px 20px 0px;
    gap: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .title-content {
    align-items: space-between;
    padding: 0px 16px 10px 16px;
  }

  .title-save-div {
    padding-right: 0px;

    a {
      color: var(--black) !important;
    }
  }

  .mobile-shadow {
    box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.08);
    z-index: 2;
    height: 20px;
    margin-top: -20px;
  }

  .popup-body {
    padding: 20px 16px 0px 16px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .edit-icon {
    height: 30px;
    width: 30px;
    background-color: var(--bg-color);
    padding: 3px;
    border-radius: 30px;
  }

  .input-container.editing-active {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    gap: 12px;

    .title-save-div {
      padding: 0 15px 0 15px;
    }

    .line {
      margin: 20px 0 20px 0;
    }
  }

  .popup-body.editing-active {
    .creator-container {
      padding: 0 15px 15px 15px;
    }
  }
}
