<section>
    <div class="imprint-container">
        <mat-icon class="icon" (click)="back()">arrow_back</mat-icon>
        <div class="contact-content">
            <p>Letzte Aktualisierung: 25. Juli 2024</p>
            <h3>Datenschutzerklärung</h3>
            <p>Diese Datenschutzerklärung beschreibt unsere Richtlinien und Verfahren bezüglich der Erhebung, Nutzung und
                Offenlegung Ihrer Informationen, wenn Sie den Dienst nutzen, und informiert Sie über Ihre Datenschutzrechte
                und darüber, wie das Gesetz Sie schützt.</p>
            <p>Wir verwenden Ihre persönlichen Daten, um den Dienst bereitzustellen und zu verbessern. Durch die Nutzung des
                Dienstes stimmen Sie der Erhebung und Nutzung von Informationen in Übereinstimmung mit dieser
                Datenschutzerklärung zu. Diese Datenschutzerklärung wurde mit Hilfe des <a
                    href="https://www.freeprivacypolicy.com/free-privacy-policy-generator/" target="_blank">Free Privacy
                    Policy Generator</a> erstellt.</p>
    
            <h4>Interpretation und Definitionen</h4>
            <h6>Interpretation</h6>
            <p>Die Wörter, bei denen der Anfangsbuchstabe großgeschrieben ist, haben die unter den folgenden Bedingungen
                definierten Bedeutungen. Die folgenden Definitionen haben unabhängig davon, ob sie im Singular oder Plural
                erscheinen, dieselbe Bedeutung.</p>
            <h6>Definitionen</h6>
            <p>Für die Zwecke dieser Datenschutzerklärung:</p>
            <ul>
                <li>
                    <p><strong>Konto</strong> bedeutet ein einzigartiges Konto, das für Sie erstellt wurde, um auf unseren
                        Dienst oder Teile unseres Dienstes zuzugreifen.</p>
                </li>
                <li>
                    <p><strong>Affiliate</strong> bedeutet ein Unternehmen, das eine Partei kontrolliert, von ihr
                        kontrolliert wird oder unter gemeinsamer Kontrolle mit ihr steht, wobei "Kontrolle" den Besitz von
                        50% oder mehr der Anteile, Beteiligungen oder anderen Wertpapiere bedeutet, die zur Wahl von
                        Direktoren oder anderen Verwaltungsbehörden berechtigen.</p>
                </li>
                <li>
                    <p><strong>Anwendung</strong> bezieht sich auf Pirathib Mahalingam, das von der Firma bereitgestellte
                        Softwareprogramm.</p>
                </li>
                <li>
                    <p><strong>Unternehmen</strong> (in diesem Vertrag entweder als "das Unternehmen", "Wir", "Uns" oder
                        "Unser" bezeichnet) bezieht sich auf Pirathib Mahalingam.</p>
                </li>
                <li>
                    <p><strong>Cookies</strong> sind kleine Dateien, die auf Ihrem Computer, Mobilgerät oder einem anderen
                        Gerät von einer Website abgelegt werden und unter anderem Details zu Ihrem Browserverlauf auf dieser
                        Website enthalten.</p>
                </li>
                <li>
                    <p><strong>Land</strong> bezieht sich auf: Schweiz</p>
                </li>
                <li>
                    <p><strong>Gerät</strong> bedeutet jedes Gerät, das auf den Dienst zugreifen kann, wie z.B. ein
                        Computer, ein Mobiltelefon oder ein digitales Tablet.</p>
                </li>
                <li>
                    <p><strong>Personenbezogene Daten</strong> sind alle Informationen, die sich auf eine identifizierte
                        oder identifizierbare Person beziehen.</p>
                </li>
                <li>
                    <p><strong>Dienst</strong> bezieht sich auf die Anwendung oder die Website oder beides.</p>
                </li>
                <li>
                    <p><strong>Dienstanbieter</strong> bedeutet jede natürliche oder juristische Person, die die Daten im
                        Auftrag des Unternehmens verarbeitet. Es bezieht sich auf Drittunternehmen oder Einzelpersonen, die
                        vom Unternehmen beschäftigt werden, um den Dienst zu erleichtern, den Dienst im Namen des
                        Unternehmens bereitzustellen, dienstbezogene Dienstleistungen zu erbringen oder dem Unternehmen bei
                        der Analyse der Nutzung des Dienstes zu helfen.</p>
                </li>
                <li>
                    <p><strong>Nutzungsdaten</strong> sind Daten, die automatisch gesammelt werden, entweder durch die
                        Nutzung des Dienstes oder aus der Dienstinfrastruktur selbst (zum Beispiel die Dauer eines
                        Seitenbesuchs).</p>
                </li>
                <li>
                    <p><strong>Website</strong> bezieht sich auf Pirathib Mahalingam, zugänglich von <a
                            href="https://www.pirathib-mahalingam.ch" rel="external nofollow noopener"
                            target="_blank">https://www.pirathib-mahalingam.ch</a></p>
                </li>
                <li>
                    <p><strong>Sie</strong> bezieht sich auf die Person, die auf den Dienst zugreift oder ihn nutzt, oder
                        das Unternehmen oder eine andere juristische Person, in deren Namen diese Person auf den Dienst
                        zugreift oder ihn nutzt, je nachdem, was zutrifft.</p>
                </li>
            </ul>
    
            <h4>Erhebung und Nutzung Ihrer personenbezogenen Daten</h4>
            <h6>Arten der gesammelten Daten</h6>
            <h6>Personenbezogene Daten</h6>
            <p>Während der Nutzung unseres Dienstes können wir Sie bitten, uns bestimmte persönlich identifizierbare
                Informationen zur Verfügung zu stellen, die verwendet werden können, um Sie zu kontaktieren oder zu
                identifizieren. Persönlich identifizierbare Informationen können unter anderem umfassen:</p>
            <ul>
                <li>
                    <p>E-Mail-Adresse</p>
                </li>
                <li>
                    <p>Vorname und Nachname</p>
                </li>
                <li>
                    <p>Telefonnummer</p>
                </li>
                <li>
                    <p>Nutzungsdaten</p>
                </li>
            </ul>
            <h6>Nutzungsdaten</h6>
            <p>Nutzungsdaten werden automatisch bei der Nutzung des Dienstes erhoben.</p>
            <p>Nutzungsdaten können Informationen wie die Internetprotokolladresse (z.B. IP-Adresse) Ihres Geräts, den
                Browsertyp, die Browserversion, die Seiten unseres Dienstes, die Sie besuchen, die Uhrzeit und das Datum
                Ihres Besuchs, die auf diesen Seiten verbrachte Zeit, eindeutige Gerätekennungen und andere Diagnosedaten
                umfassen.</p>
            <p>Wenn Sie über ein Mobilgerät auf den Dienst zugreifen, können wir bestimmte Informationen automatisch
                erfassen, einschließlich, aber nicht beschränkt auf die Art des von Ihnen verwendeten Mobilgeräts, die
                eindeutige ID Ihres Mobilgeräts, die IP-Adresse Ihres Mobilgeräts, Ihr mobiles Betriebssystem, die Art des
                mobilen Internetbrowsers, den Sie verwenden, eindeutige Gerätekennungen und andere Diagnosedaten.</p>
            <p>Wir können auch Informationen sammeln, die Ihr Browser sendet, wann immer Sie unseren Dienst besuchen oder
                wenn Sie auf den Dienst über ein Mobilgerät zugreifen.</p>
            <h6>Tracking-Technologien und Cookies</h6>
            <p>Wir verwenden Cookies und ähnliche Tracking-Technologien, um die Aktivitäten auf unserem Dienst zu verfolgen
                und bestimmte Informationen zu speichern. Zu den verwendeten Tracking-Technologien gehören Beacons, Tags und
                Skripte, um Informationen zu sammeln und zu verfolgen und unseren Dienst zu verbessern und zu analysieren.
                Die von uns verwendeten Technologien können umfassen:</p>
            <ul>
                <li><strong>Cookies oder Browser-Cookies.</strong> Ein Cookie ist eine kleine Datei, die auf Ihr Gerät
                    platziert wird. Sie können Ihren Browser anweisen, alle Cookies abzulehnen oder anzugeben, wenn ein
                    Cookie gesendet wird. Wenn Sie jedoch keine Cookies akzeptieren, können Sie möglicherweise einige Teile
                    unseres Dienstes nicht nutzen. Sofern Sie Ihre Browsereinstellungen nicht so angepasst haben, dass
                    Cookies abgelehnt werden, kann unser Dienst Cookies verwenden.</li>
                <li><strong>Web-Beacons.</strong> Bestimmte Abschnitte unseres Dienstes und unserer E-Mails können kleine
                    elektronische Dateien enthalten, die als Web-Beacons (auch bekannt als Clear Gifs, Pixel Tags und
                    Single-Pixel Gifs) bezeichnet werden und es dem Unternehmen beispielsweise ermöglichen, Benutzer zu
                    zählen, die diese Seiten besucht oder eine E-Mail geöffnet haben, und für andere verwandte
                    Website-Statistiken (zum Beispiel die Aufzeichnung der Beliebtheit eines bestimmten Abschnitts und die
                    Überprüfung der System- und Serverintegrität).</li>
            </ul>
            <p>Cookies können "Persistente" oder "Sitzungs"-Cookies sein. Persistente Cookies verbleiben auf Ihrem
                persönlichen Computer oder Mobilgerät, wenn Sie offline gehen, während Sitzungscookies gelöscht werden,
                sobald Sie Ihren Webbrowser schließen. Erfahren Sie mehr über Cookies im Artikel auf der <a
                    href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/#Use_Of_Cookies_And_Tracking"
                    target="_blank">Website zur kostenlosen Datenschutzerklärung</a>.</p>
            <p>Wir verwenden sowohl Sitzungs- als auch persistente Cookies für die unten aufgeführten Zwecke:</p>
            <ul>
                <li>
                    <p><strong>Notwendige / wesentliche Cookies</strong></p>
                    <p>Typ: Sitzungscookies</p>
                    <p>Verwaltet von: Uns</p>
                    <p>Zweck: Diese Cookies sind wesentlich, um Ihnen Dienstleistungen zur Verfügung zu stellen, die über
                        die Website verfügbar sind, und um Ihnen die Nutzung einiger ihrer Funktionen zu ermöglichen. Sie
                        helfen, Benutzer zu authentifizieren und die betrügerische Nutzung von Benutzerkonten zu verhindern.
                        Ohne diese Cookies können die von Ihnen angeforderten Dienstleistungen nicht erbracht werden, und
                        wir verwenden diese Cookies nur, um Ihnen diese Dienstleistungen bereitzustellen.</p>
                </li>
                <li>
                    <p><strong>Cookies-Richtlinie / Hinweis-Akzeptanz-Cookies</strong></p>
                    <p>Typ: Persistente Cookies</p>
                    <p>Verwaltet von: Uns</p>
                    <p>Zweck: Diese Cookies ident
    
                        ifizieren, ob Benutzer die Verwendung von Cookies auf der Website akzeptiert haben.</p>
                </li>
                <li>
                    <p><strong>Funktionalitäts-Cookies</strong></p>
                    <p>Typ: Persistente Cookies</p>
                    <p>Verwaltet von: Uns</p>
                    <p>Zweck: Diese Cookies ermöglichen es uns, die Entscheidungen zu speichern, die Sie bei der Nutzung der
                        Website treffen, wie z.B. das Speichern Ihrer Anmeldedaten oder Ihrer Sprachpräferenz. Der Zweck
                        dieser Cookies besteht darin, Ihnen eine persönlichere Erfahrung zu bieten und zu vermeiden, dass
                        Sie Ihre Präferenzen bei jeder Nutzung der Website erneut eingeben müssen.</p>
                </li>
            </ul>
            <p>Weitere Informationen zu den von uns verwendeten Cookies und Ihren Auswahlmöglichkeiten bezüglich Cookies
                finden Sie in unserer Cookies-Richtlinie oder im Abschnitt Cookies unserer Datenschutzerklärung.</p>
    
            <h4>Verwendung Ihrer personenbezogenen Daten</h4>
            <p>Das Unternehmen kann personenbezogene Daten für die folgenden Zwecke verwenden:</p>
            <ul>
                <li>
                    <p><strong>Zur Bereitstellung und Aufrechterhaltung unseres Dienstes</strong>, einschließlich der
                        Überwachung der Nutzung unseres Dienstes.</p>
                </li>
                <li>
                    <p><strong>Zur Verwaltung Ihres Kontos:</strong> zur Verwaltung Ihrer Registrierung als Benutzer des
                        Dienstes. Die von Ihnen bereitgestellten personenbezogenen Daten können Ihnen Zugang zu
                        verschiedenen Funktionen des Dienstes ermöglichen, die Ihnen als registriertem Benutzer zur
                        Verfügung stehen.</p>
                </li>
                <li>
                    <p><strong>Zur Erfüllung eines Vertrags:</strong> die Entwicklung, Einhaltung und Durchführung des
                        Kaufvertrags für die von Ihnen erworbenen Produkte, Artikel oder Dienstleistungen oder eines anderen
                        Vertrags mit uns über den Dienst.</p>
                </li>
                <li>
                    <p><strong>Um Sie zu kontaktieren:</strong> Um Sie per E-Mail, Telefonanrufe, SMS oder andere
                        gleichwertige Formen der elektronischen Kommunikation zu kontaktieren, wie z.B.
                        Push-Benachrichtigungen einer mobilen Anwendung bezüglich Updates oder informativer Mitteilungen im
                        Zusammenhang mit den Funktionen, Produkten oder vertraglich vereinbarten Dienstleistungen,
                        einschließlich Sicherheitsupdates, wenn dies für deren Umsetzung erforderlich oder angemessen ist.
                    </p>
                </li>
                <li>
                    <p><strong>Um Ihnen</strong> Nachrichten, Sonderangebote und allgemeine Informationen über andere von
                        uns angebotene Waren, Dienstleistungen und Veranstaltungen bereitzustellen, die denen ähneln, die
                        Sie bereits gekauft haben oder nach denen Sie sich erkundigt haben, es sei denn, Sie haben sich
                        gegen den Erhalt solcher Informationen entschieden.</p>
                </li>
                <li>
                    <p><strong>Zur Verwaltung Ihrer Anfragen:</strong> Um Ihre Anfragen an uns zu bearbeiten und zu
                        verwalten.</p>
                </li>
                <li>
                    <p><strong>Für Geschäftsübertragungen:</strong> Wir können Ihre Informationen verwenden, um eine Fusion,
                        Abtretung, Umstrukturierung, Reorganisation, Auflösung oder einen anderen Verkauf oder eine
                        Übertragung einiger oder aller unserer Vermögenswerte zu bewerten oder durchzuführen, sei es als
                        Fortführung oder im Rahmen eines Konkurses, einer Liquidation oder eines ähnlichen Verfahrens, bei
                        dem personenbezogene Daten, die wir über unsere Dienstbenutzer gespeichert haben, zu den
                        übertragenen Vermögenswerten gehören.</p>
                </li>
                <li>
                    <p><strong>Für andere Zwecke</strong>: Wir können Ihre Informationen für andere Zwecke verwenden, wie
                        z.B. Datenanalyse, Identifizierung von Nutzungstrends, Bestimmung der Wirksamkeit unserer
                        Werbekampagnen und zur Bewertung und Verbesserung unseres Dienstes, unserer Produkte,
                        Dienstleistungen, Marketing und Ihrer Erfahrung.</p>
                </li>
            </ul>
            <p>Wir können Ihre personenbezogenen Daten in den folgenden Situationen weitergeben:</p>
            <ul>
                <li><strong>Mit Dienstleistern:</strong> Wir können Ihre personenbezogenen Daten mit Dienstleistern teilen,
                    um die Nutzung unseres Dienstes zu überwachen und zu analysieren, um Sie zu kontaktieren.</li>
                <li><strong>Für Geschäftsübertragungen:</strong> Wir können Ihre personenbezogenen Daten im Zusammenhang mit
                    oder während Verhandlungen über eine Fusion, den Verkauf von Unternehmensvermögen, eine Finanzierung
                    oder den Erwerb eines Teils oder unseres gesamten Unternehmens an ein anderes Unternehmen weitergeben
                    oder übertragen.</li>
                <li><strong>Mit Affiliates:</strong> Wir können Ihre Informationen mit unseren Affiliates teilen, in diesem
                    Fall werden wir von diesen Affiliates verlangen, diese Datenschutzerklärung einzuhalten. Affiliates
                    umfassen unsere Muttergesellschaft und alle anderen Tochtergesellschaften, Joint Venture Partner oder
                    andere Unternehmen, die wir kontrollieren oder die unter gemeinsamer Kontrolle mit uns stehen.</li>
                <li><strong>Mit Geschäftspartnern:</strong> Wir können Ihre Informationen mit unseren Geschäftspartnern
                    teilen, um Ihnen bestimmte Produkte, Dienstleistungen oder Werbeaktionen anzubieten.</li>
                <li><strong>Mit anderen Benutzern:</strong> Wenn Sie persönliche Informationen teilen oder anderweitig in
                    den öffentlichen Bereichen mit anderen Benutzern interagieren, können diese Informationen von allen
                    Benutzern eingesehen und öffentlich nach außen verbreitet werden.</li>
                <li><strong>Mit Ihrer Zustimmung</strong>: Wir können Ihre personenbezogenen Daten für jeden anderen Zweck
                    mit Ihrer Zustimmung offenlegen.</li>
            </ul>
    
            <h4>Aufbewahrung Ihrer personenbezogenen Daten</h4>
            <p>Das Unternehmen wird Ihre personenbezogenen Daten nur so lange aufbewahren, wie es für die in dieser
                Datenschutzerklärung festgelegten Zwecke erforderlich ist. Wir werden Ihre personenbezogenen Daten in dem
                Umfang aufbewahren und verwenden, wie es zur Erfüllung unserer gesetzlichen Verpflichtungen (zum Beispiel,
                wenn wir Ihre Daten zur Einhaltung geltender Gesetze aufbewahren müssen), zur Beilegung von Streitigkeiten
                und zur Durchsetzung unserer rechtlichen Vereinbarungen und Richtlinien erforderlich ist.</p>
            <p>Das Unternehmen wird auch Nutzungsdaten für interne Analysezwecke aufbewahren. Nutzungsdaten werden in der
                Regel für einen kürzeren Zeitraum aufbewahrt, es sei denn, diese Daten werden verwendet, um die Sicherheit
                zu stärken oder die Funktionalität unseres Dienstes zu verbessern, oder wir sind gesetzlich verpflichtet,
                diese Daten für längere Zeiträume aufzubewahren.</p>
    
            <h4>Übertragung Ihrer personenbezogenen Daten</h4>
            <p>Ihre Informationen, einschließlich personenbezogener Daten, werden in den Betriebsbüros des Unternehmens und
                an allen anderen Orten verarbeitet, an denen sich die an der Verarbeitung beteiligten Parteien befinden. Das
                bedeutet, dass diese Informationen an – und auf – Computern außerhalb Ihres Bundesstaates, Ihrer Provinz,
                Ihres Landes oder einer anderen staatlichen Gerichtsbarkeit übertragen und gespeichert werden können, wo die
                Datenschutzgesetze möglicherweise von denen Ihrer Gerichtsbarkeit abweichen.</p>
            <p>Ihre Zustimmung zu dieser Datenschutzerklärung, gefolgt von Ihrer Übermittlung solcher Informationen, stellt
                Ihre Zustimmung zu dieser Übertragung dar.</p>
            <p>Das Unternehmen wird alle angemessenen Schritte unternehmen, um sicherzustellen, dass Ihre Daten sicher und
                in Übereinstimmung mit dieser Datenschutzerklärung behandelt werden, und es wird keine Übertragung Ihrer
                personenbezogenen Daten an eine Organisation oder ein Land stattfinden, es sei denn, es gibt angemessene
                Kontrollen, einschließlich der Sicherheit Ihrer Daten und anderer persönlicher Informationen.</p>
    
            <h4>Löschen Ihrer personenbezogenen Daten</h4>
            <p>Sie haben das Recht, Ihre personenbezogenen Daten zu löschen oder die Unterstützung beim Löschen der
                personenbezogenen Daten zu beantragen, die wir über Sie gesammelt haben.</p>
            <p>Unser Dienst kann Ihnen die Möglichkeit geben, bestimmte Informationen über Sie innerhalb des Dienstes zu
                löschen.</p>
            <p>Sie können Ihre Informationen jederzeit aktualisieren, ändern oder löschen, indem Sie sich in Ihr Konto
                einloggen, falls Sie eines haben, und den Abschnitt mit den Kontoeinstellungen besuchen, der es Ihnen
                ermöglicht, Ihre persönlichen Informationen zu verwalten. Sie können uns auch kontaktieren, um den Zugriff
                auf, die Berichtigung oder die Löschung der persönlichen Informationen zu beantragen, die Sie uns zur
                Verfügung gestellt haben.</p>
            <p>Bitte beachten Sie jedoch, dass wir bestimmte Informationen aufbewahren müssen, wenn wir gesetzlich dazu
                verpflichtet sind oder eine rechtliche Grundlage dafür haben.</p>
    
            <h4>Offenlegung Ihrer personenbezogenen Daten</h4>
            <h4>Geschäftsvorgänge</h4>
            <p>Wenn das Unternehmen an einer Fusion, einem Erwerb oder einem Verkauf von Vermögenswerten beteiligt ist,
                können Ihre personenbezogenen Daten übertragen werden. Wir werden eine Benachrichtigung bereitstellen, bevor
                Ihre personenbezogenen Daten übertragen werden und einer anderen Datenschutzerklärung unterliegen.</p>
    
            <h4>Gesetzliche Anforderungen</h4>
            <p>Unter bestimmten Umständen kann das Unternehmen verpflichtet sein, Ihre personenbezogenen Daten offenzulegen,
                wenn dies gesetzlich vorgeschrieben ist oder als Reaktion auf gültige Anfragen von öffentlichen Behörden
                (z.B. einem Gericht oder einer Regierungsbehörde).</p>
    
            <h6>Andere rechtliche Anforderungen</h6>
            <p>Das Unternehmen kann Ihre personenbezogenen Daten im guten Glauben offenlegen, dass eine solche Maßnahme
                notwendig ist, um:</p>
            <ul>
                <li>einer gesetzlichen Verpflichtung nachzukommen</li>
                <li>die Rechte oder das Eigentum des Unternehmens zu schützen und zu verteidigen</li>
                <li>mögliche Fehlverhalten im Zusammenhang mit dem Dienst zu verhindern oder zu untersuchen</li>
                <li>die persönliche Sicherheit der Benutzer des Dienstes oder der Öffentlichkeit zu schützen</li>
                <li>vor rechtlicher Haftung zu schützen</li>
            </ul>
    
            <h4>Sicherheit Ihrer personenbezogenen Daten</h4>
            <p>Die Sicherheit Ihrer personenbezogenen Daten ist
    
                uns wichtig, aber denken Sie daran, dass keine Methode der Übertragung über das Internet oder der
                elektronischen Speicherung 100% sicher ist. Während wir uns bemühen, kommerziell akzeptable Mittel zum
                Schutz Ihrer personenbezogenen Daten zu verwenden, können wir deren absolute Sicherheit nicht garantieren.
            </p>
    
            <h4>Datenschutz von Kindern</h4>
            <p>Unser Dienst richtet sich nicht an Personen unter 13 Jahren. Wir sammeln nicht wissentlich persönlich
                identifizierbare Informationen von Personen unter 13 Jahren. Wenn Sie ein Elternteil oder Vormund sind und
                wissen, dass Ihr Kind uns personenbezogene Daten zur Verfügung gestellt hat, kontaktieren Sie uns bitte.
                Wenn wir feststellen, dass wir personenbezogene Daten von Personen unter 13 Jahren ohne Überprüfung der
                elterlichen Zustimmung gesammelt haben, unternehmen wir Schritte, um diese Informationen von unseren Servern
                zu entfernen.</p>
            <p>Wenn wir uns auf Zustimmung als rechtliche Grundlage für die Verarbeitung Ihrer Informationen stützen müssen
                und Ihr Land die Zustimmung eines Elternteils erfordert, können wir die Zustimmung Ihres Elternteils
                verlangen, bevor wir diese Informationen sammeln und verwenden.</p>
    
            <h4>Links zu anderen Websites</h4>
            <p>Unser Dienst kann Links zu anderen Websites enthalten, die nicht von uns betrieben werden. Wenn Sie auf einen
                Link eines Drittanbieters klicken, werden Sie zu dieser Website des Drittanbieters weitergeleitet. Wir
                empfehlen Ihnen dringend, die Datenschutzerklärung jeder Website, die Sie besuchen, zu überprüfen.</p>
            <p>Wir haben keine Kontrolle über und übernehmen keine Verantwortung für die Inhalte, Datenschutzrichtlinien
                oder Praktiken von Websites oder Diensten Dritter.</p>
    
            <h4>Änderungen dieser Datenschutzerklärung</h4>
            <p>Wir können unsere Datenschutzerklärung von Zeit zu Zeit aktualisieren. Wir werden Sie über alle Änderungen
                informieren, indem wir die neue Datenschutzerklärung auf dieser Seite veröffentlichen.</p>
            <p>Wir werden Sie per E-Mail und/oder durch einen auffälligen Hinweis auf unserem Dienst informieren, bevor die
                Änderung in Kraft tritt, und das Datum der "Letzten Aktualisierung" oben in dieser Datenschutzerklärung
                aktualisieren.</p>
            <p>Sie werden empfohlen, diese Datenschutzerklärung regelmäßig auf Änderungen zu überprüfen. Änderungen dieser
                Datenschutzerklärung treten in Kraft, wenn sie auf dieser Seite veröffentlicht werden.</p>
    
            <h4>Kontaktieren Sie uns</h4>
            <p>Wenn Sie Fragen zu dieser Datenschutzerklärung haben, können Sie uns kontaktieren:</p>
            <ul>
                <li>
                    <p>Per E-Mail: hello&commat;pirathib-mahalingam.ch</p>
                </li>
                <li>
                    <p>Per Telefonnummer: +41 (0)76 433 499 2</p>
                </li>
            </ul>
        </div>
    </div>
</section>
