<div class="add-member-container">
    <div class="member-content">
        <div class="title-name-container">
            <div class="title-content">
                <h2>Leute hinzufügen</h2>
                <div class="icon-container">
                    <mat-icon class="close-icon" (click)="close()">close</mat-icon>
                </div>
            </div>
            <div class="channel-name">
                <mat-icon class="tag-icon">tag</mat-icon>
                <p>Entwicklerteam</p>
            </div>
        </div>
        <input type="text" placeholder="Name eingeben" class="inputfield">
        <div class="btn-container">
            <button class="primary-btn">Hinzufügen</button>
        </div>
    </div>
</div>