<div
  appClickOutside
  (clickOutside)="closeWindow()"
  class="popup-container add-member-container"
  [class.edit-channel-active]="this.isEditChannelPopup"
>
  <div class="center-handle">
    <div
      *ngIf="chatService.mobileScreen()"
      class="handle"
      (click)="closeWindow()"
    ></div>
  </div>
  <div class="member-content">
    <div class="title-name-container">
      <div class="title-content">
        <h3 class="n-h3">Leute hinzufügen</h3>
        <div class="icon-container">
          <mat-icon class="close-icon" (click)="closeWindow()">close</mat-icon>
        </div>
      </div>
      <div class="channel-name">
        <mat-icon class="tag-icon">tag</mat-icon>
        <p class="n-p">{{ channel.channelName }}</p>
      </div>
      <div class="selected-members-container">
        @for (member of selectedUsersForChannel; track $index){
        <button (click)="selectMember($event, member)" class="selected-members">
          <div>
            {{ member.username }}
          </div>
        </button>

        }
      </div>
    </div>
    <input
      [(ngModel)]="searchMember"
      (ngModelChange)="showMember($event)"
      (click)="showMember($event)"
      type="text"
      placeholder="Name eingeben"
    />
    <div class="profile-list">
      @for (member of showUser; track $index) {
      <div
        class="profile-container"
        [ngClass]="member.chosenToChannel ? 'selected' : ''"
        (click)="selectMember($event, member)"
      >
        <div class="profile-content">
          <img
            src="{{ member.profileImage }}"
            alt="Character"
            class="profile-icon"
          />
          <div class="status-icon" ngClass="{{ member.state }}"></div>
        </div>
        <p class="n-p">{{ member.username }}</p>
      </div>
      }
    </div>
    <div class="btn-container">
      <button
        [ngClass]="{
          'btn-primary-disabled': selectedUsersForChannel.length === 0
        }"
        (click)="addUserToActiveChannel()"
        class="btn-default btn-primary"
      >
        Hinzufügen
      </button>
    </div>
  </div>
</div>
