<section
  appClickOutside
  (clickOutside)="closeWindow()"
  class="popup-container member-container"
  [class.edit-channel-member]="isEditChannelPopup"
>
  <div class="title-content">
    <h3 class="n-h3">Mitglieder</h3>
    <div class="icon-container">
      <mat-icon class="close-icon" (click)="closeWindow()">close</mat-icon>
    </div>
  </div>
  <div class="profile-section">
    <div class="profile-div">
      @for (member of channelMember; track $index) {
      <div class="profile-container" (click)="openProfile($event, member)">
        <div class="profile-content">
          <img
            src="{{ member.profileImage }}"
            alt="Character"
            class="profile-icon"
          />
          <div class="status-icon" ngClass="{{ member.state }}"></div>
        </div>
        <p class="n-p">{{ member.username }}</p>
      </div>
      }
    </div>
    <div class="add-member-container profile-div">
      <div class="add-member-btn profile-container">
        <div class="icon">
          <mat-icon class="add-icon">person_add</mat-icon>
        </div>
        <p (click)="switchToAdd($event)" class="n-p add-member-title">
          Mitglieder hinzufügen
        </p>
      </div>
    </div>
  </div>
</section>
<div *ngIf="!isEditChannelPopup" class="shaded-background"></div>
