<div class="member-container">
    <div class="title-content">
        <h2>Mitglieder</h2>
        <div class="icon-container">
            <mat-icon class="close-icon" (click)="close()">close</mat-icon>
        </div>
    </div>
    <div class="profile-section">
        <div class="profile-div">
            <div class="profile-container">
                <div class="profile-content">
                    <img src="../../../assets/img/character1.png" alt="Character" class=" icon profile-icon">
                    <div class="status-icon online"></div>
                </div>
                <p>Federik Beck (Du)</p>
            </div>
        </div>
        <div class="add-member-container profile-div">
            <div class="add-member-btn profile-container">
                <div class="icon">
                    <mat-icon class="add-icon">person_add</mat-icon>
                </div>
                <p class="add-member-title">Mitglieder hinzufügen</p>
            </div>
        </div>
    </div>
</div>