.member-container {
    border-radius: 30px 0px 30px 30px;
}

.title-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.profile-section {
    display: flex;
    flex-direction: column;
    width: 335px;
    gap: 15px;
}

.profile-div {
    display: flex;
    flex-direction: column;
    width: 306px;
    border-radius: 30px;
    gap: 15px;
    max-height: 30vh;
    overflow-y: scroll;
}


.profile-container {
    display: flex;
    align-items: center;
    border-radius: 35px;
    padding: 4px 20px;
    gap: 15px;
}

.add-member-btn {
    cursor: pointer;
    border-radius: 100px;

    &:hover {
        background-color: var(--bg-color);

        .add-member-title {
            color: var(--purple-3);
        }

        .add-icon {
            color: var(--purple-3);
            transform: scale(1.2);
        }
    }
}

.profile-content {
    display: flex;
    position: relative;

    img {
        height: 50px;
        width: 50px;
    }
}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon {
    border-radius: 30px;
}

.add-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    gap: 10px;
    padding: 18px;
    background-color: var(--bg-color);
    transition: all 75ms ease-in;
}

.status-icon {
    width: 14px;
    height: 14px;
    border: 2px solid var(--white);
    border-radius: 50%;
    position: absolute;
    top: 38px;
    left: 34px;
}