section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.icon {
    cursor: pointer;
}

.imprint-container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 48px 56px;
    gap: 32px;
    background-color: var(--white);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

.imprint-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.address-content {
   // width: 564.27px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.color-p-1 {
    color: var(--purple-1);
}

.thin {
    font-weight: 400;
}

@media (max-width: 720px) {
    section {
        padding: 5px;
    }

    .imprint-container {
        padding: 24px 28px;
        gap: 16px;
    }

    h1{
        font-size: 36px !important;
    }
    h2{
        font-size: 24px !important;
    }
    h4{
        margin-bottom: 6px !important;
    }
}