<section>
    <div class="imprint-container">
        <mat-icon class="icon" (click)="back()">arrow_back</mat-icon>
        <div class="imprint-content">
            <h1 class="n-h1 color-p-1">Impressum</h1>
            <div class="address-content">
                <h4 class="n-4 thin">Susanne, Heiko & Pirathib</h4>
                <h4 class="n-4 thin">Remisbergstrasse 47</h4>
                <h4 class="n-4 thin">8280 Kreuzlingen</h4>
                <h4 class="n-4 thin">Schweiz</h4>
            </div>
        </div>
        <div class="contact-content">
            <h2 class="n-h2 color-p-1">Kontakt:</h2>
            <p>Email: hello&#64;pirathib-mahalingam.ch</p>
        </div>
        <div class="contact-content">
            <h3>Haftungsauschluss:</h3>
            <h4>Verantwortlichkeit für Inhalte</h4>
            <p>Die Inhalte unserer Webseiten wurden unter größter Sorgfalt erstellt. Trotzdem können wir nicht
                garantieren, dass der Inhalt aktuell, zuverlässig oder komplett ist. Gemäß den gesetzlichen Vorschriften
                sind wir für die selbst erstellten Inhalte fc bayern news verantwortlich. In diesem Zusammenhang möchten
                wir klarstellen, das wir nicht verantwortlich sind für Informationen, die von dritten Parteien zur
                Verfügung gestellt oder von diesen gesammelt werden. Wir kontrollieren weder die Informationen, die
                versand werden, noch verfolgen wir in mögliche illegale Aktivitäten diesen. Werden illegale Aktivitäten
                festgestellt folgen wir unserer Verpflichtung die entsprechenden Inhalte zu blockieren oder zu löschen,
                entsprechend den Paragraphen 8 bis 10 des Telemedia Acts (TMG).</p>
            <h4>Verantwortlichkeit für Links</h4>
            <p>Die Verantwortung für Inhalte von Links Dritter (externe Inhalte) liegt in der Verantwortung der
                jeweiligen Webseitenbetreiber. Zum Zeitpunkt der Einfügung der verwendeten Links auf unseren Seiten
                wurden keine illegalen Aktivitäten in diesen festgestellt. Sobald uns illegale Aktivitäten oder Verstöße
                bekannt werden, werden wir den entsprechenden Link entfernen.</p>
            <h4>Copyright</h4>
            <p>Unsere Webseiten und deren Inhalt (Texte, Fotos, Grafiken, Design) unterliegen dem deutschen
                Urheberrecht. Soweit nicht anderweitig gesetzlich vereinbart unterliegt der Nutzen, die Widergabe, Kopie
                oder die Veränderung der Inhalte dem Urheberrecht. Ausnahmen müssen schriftlich von den
                Webseitenbetreibern oder Rechteinhabern genehmigt werden. Individuelle Kopien sind nur für den privaten
                Gebrauch gestattet, sie dürfen weder direkt noch indirekt für wirtschaftliche Zwecke genutzt werden. Der
                nicht genehmigte Nutzen von unter Urheberrecht geschütztem Material ist nach Paragraph 106 strafbar.</p>
            <br>
            <p>Diese Impressum wurde erstellt am impressumgeneratorenglisch.de.</p>
        </div>
    </div>
</section>