<section>
    <div class="popup-container channel-container">
        <div class="title-content">
            <div class="title-icon-div">
                <mat-icon>tag</mat-icon>
                <h2>Channel Name</h2>
            </div>
            <div class="icon-container">
                <mat-icon class="close-icon" (click)="close()">close</mat-icon>
            </div>
        </div>
        <div class="input-container" [class.border]="!editing">
            <div class="title-save-div">
                <h3>Channel-Name</h3>
                <a (click)="edit()">
                    {{ editing ? 'Speichern' : 'Bearbeiten' }}
                </a>
            </div>

            <div class="inputfield">
                <mat-icon>tag</mat-icon>
                <p>Entwicklerteam</p>
            </div>
        </div>
        <div class="input-container" [class.border]="!editing">
            <div class="title-save-div">
                <h3>Channel-Name</h3>
                <a (click)="edit()">
                    {{ editing ? 'Speichern' : 'Bearbeiten' }}
                </a>
            </div>
            <p>Dieser Channel ist für alles rund um #dfsdf vorgesehen. Hier kannst du zusammen mit deinem Team Meetings abhalten, Dokumente teilen und Entscheidungen treffen.</p>
            <div class="line"></div>
            <div class="creator-container">
                <h3>Erstellt von</h3>
                <h4>Noah Braun</h4>
            </div>
        </div>
        <div class="btn-container">
            <button class="btn-default btn-primary">Channel verlassen</button>
        </div>
    </div>
</section>