<div class="new-message-container">
    <textarea [(ngModel)]="messageText" matInput type="text" placeholder="Nachricht an User" rows="3"></textarea>
    <div class="message-controls">
        <div class="add-elements">
            <button class="mini-fab-button" mat-mini-fab class="add-doc mini-fab-btn">
                <mat-icon>add</mat-icon>
            </button>
            <div class="vertical-divider"></div>
            <button mat-mini-fab class="emojis mini-fab-btn" (click)="openEmojiSet()">
                <mat-icon>sentiment_satisfied</mat-icon>
            </button>
            <!-- <button mat-mini-fab class="tag-person mini-fab-btn">
                <mat-icon>alternate_email</mat-icon>
            </button> -->
        </div>
        <button mat-mini-fab class="send-btn" (click)="createMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>