<div class="new-message-container">
  <textarea
    [(ngModel)]="messageText"
    matInput
    type="text"
    placeholder="Nachricht an User"
    rows="3"
  ></textarea>
  <div class="message-controls">
    <div class="add-elements">
      <button class="mini-fab-button" mat-mini-fab class="add-doc mini-fab-btn">
        <mat-icon>add</mat-icon>
      </button>
      <div class="vertical-divider"></div>
      <button mat-mini-fab class="emojis mini-fab-btn" (click)="openEmojiSet($event)">
        <mat-icon>sentiment_satisfied</mat-icon>
        <div *ngIf="isEmoji" class="emoji-container" appClickOutside (clickOutside)="closeEmojiSet()">
          <emoji-mart
                    [set]="'google'"
                    [style]="{ position: 'relative' }"
                    (emojiSelect)="addEmoji($event)"
                    [showPreview]="false" 
                    [emojiSize]="32"
                    [perLine]="6"
                    [totalFrequentLines]="1"
                    [autoFocus]="true"
                    [isNative]="false"
                    [sheetSize]="64"
                    [showPreview]="false"
                    [enableSearch]="true"
                    [useButton]="true"
                    [showSingleCategory]="false"
                    >
                </emoji-mart>
        </div>
      </button>
      <!-- <button mat-mini-fab class="tag-person mini-fab-btn">
                <mat-icon>alternate_email</mat-icon>
            </button> -->
    </div>
    <button class="send-btn" 
      [ngClass]="{'send-btn-valid': messageText.trim().length > 0}"
      (click)="createMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
