@import "./../../../src/styles.scss";

:host {
  display: flex;
  width: 100%;
}

mat-card {
  height: calc(100vh - 125.5px);
  display: flex;
  flex: 1;
  @include cardstyling();
}

mat-card-content {
  padding: 16px 0 16px 0;
  flex: 1;
  margin-bottom: 180px;
  overflow: auto;
  scrollbar-width: none;
}

mat-card-footer {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: calc(100% - 32px);
}

.new-message-container {
  height: 145px;
  padding: 20px;
  border: 1px solid var(--lines);
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--purple-2);
  }

  input,
  select,
  textarea {
    font-family: "Nunito";
    width: 100%;
    border: none;
    font-size: 18px;
    outline: none;
  }

  .message-controls {
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: calc(100% - 16px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .add-elements {
      display: flex;
      gap: 5px;
    }

    .vertical-divider {
      width: 1px;
      background-color: var(--lines);
    }

    .send-btn {
      font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 40;
      color: var(--purple-1);
      background-color: var(--white);
      box-shadow: none;

      &:hover {
        color: var(--purple-2);
        background-color: var(--white);
        --mat-fab-small-state-layer-color: var(--white);
      }
    }
  }
}

.mini-fab-btn {
  background-color: var(--white);
  box-shadow: none;
  color: var(--gray);
  cursor: pointer;

  &:hover {
    color: var(--purple-3);
    background-color: var(--bg-color);
    --mat-fab-small-state-layer-color: var(--white);
    box-shadow: none;

    .mat-icon {
      font-weight: bold;
    }
  }
}

app-dm-message {
  display: contents;
}

mat-list-item {
  overflow: visible;
  padding: 0;
}

::ng-deep mat-list-item .mdc-list-item__content {
  overflow: visible;
}

mat-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 8px;
  color: var(--black);
  overflow-y: unset;
  // height: 100%;
}
