<div class="wrapper">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-card appearance="outlined" class="login-card">

        <button class="arrow-back-button"><mat-icon class="icon">arrow_back</mat-icon></button>
        <h1>Konto erstellen</h1>
        <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto</p>
        <input type="text" placeholder="Name und Nachname" formControlName="userName">
        <input type="text" placeholder="beispielname@email.com" formControlName="userEmail">
        <input type="text" placeholder="Passwort" formControlName="userPassword">
        <div><input type="checkbox" name="" id="">Ich stimme der <a href="">Datenschutzerklärung</a> zu</div>
        <div class="next-button-container">
            <button type="submit" class="next-button">Weiter</button>
        </div>


    </mat-card>
    </form >
</div>