@import "./../../../../styles.scss";
@import "./../../../channel/channel/channel.component.scss";



.reactions-wrapper {
    justify-content: flex-start;
}

.reaction-btn {
    position: relative;
    width: fit-content;
    height: 34px;
    background-color: var(--white);
    border: 1px solid var(--lines);
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    //font-family: "Nunito";

    &:hover {
        border: 1px solid var(--purple-1);

        .reaction-info-menu {
            visibility: visible;
        }
    }

    img {
        display: flex;
        width: 20px;
        height: 20px;
    }
}

.reaction-info-menu {
    position: absolute;
    width: 158px;
    height: 112px;
    left: 50%;
    top: -112px;
    border-radius: 30px 30px 30px 0;
    padding: 15px 8px 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: var(--purple-1);
    color: white;
    font-size: 16px;
    //font-family: "Nunito";
    z-index: 1;
    visibility: hidden;

    img {
        width: 30px;
        height: 30px;
    }

    .user {
        font-size: 18px;
        font-weight: 700;
    }
}

.reactions-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    .reaction-btn {
        position: relative;
        width: fit-content;
        height: 34px;
        background-color: var(--white);
        border: 1px solid var(--lines);
        border-radius: 20px;
        padding: 5px 10px 5px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        //font-family: "Nunito";

        &:hover {
            border: 1px solid var(--purple-1);

            .reaction-info-menu {
                visibility: visible;
            }
        }

        img {
            display: flex;
            width: 20px;
            height: 20px;
        }
    }

    .mini-fab-btn {
        height: 34px;
        width: 34px;
    }
}

.member-message1 {
    position: relative !important;

    &:hover {
        background-color: var(--bg-color) !important;

        .text-bubble {
            background-color: var(--white);
        }

        .last-answer {
            color: var(--black);
        }

        .reaction-bar {
            opacity: 1 !important;
            right: 24px;
            transition: right 0.15s ease-out, opacity 0.15s ease-out;
        }
    }
}

mat-card-content {
    padding: 0 0 0 0;
    flex: 1;
    margin-bottom: 0px;
    overflow: auto;
}

.mat-mdc-card-content:last-child {
    padding-bottom: unset; 
}

.mat-mdc-card-content:first-child {
    padding-top: unset;
}