section {
  height: calc(100vh - 125.5px);
  display: flex;
}

.sidenav {
  width: 366px;
  height: 100%;
  background-color: var(--white);
  border-radius: 30px;
  padding: 32px 30px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  color: var(--black);
  overflow: hidden;
}

.workspace-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 25px;
  color: var(--black);
  flex-shrink: 1;
}

.mat-drawer:not(.mat-drawer-opened) {
  display: none;
}

.mat-drawer.mat-drawer-opened {
  display: flex;
}

.workspace-title {
  width: 250px;
  padding: 0px 20px 0px 0px;
  display: flex;
  align-items: center;
  gap: 15px;
  user-select: none;
}

.workspace-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.message-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  &:hover {
    border-radius: 20px;
    background-color: var(--bg-color);
    gap: 10px;
  }
}

.bold-message {
  font-weight: 700;
  border-radius: 20px;
  background-color: var(--bg-color);
  gap: 10px;
}

mat-expansion-panel-header,
mat-panel-title,
mat-panel-description,
mat-content,
mat-content-hide-toggle {
  margin: 0;
  padding: 0;
  color: var(--black);
}

.mat-content .mat-content-hide-toggle {
  margin: 0 !important;
}

.mat-content {
  justify-content: space-between !important;
}

.gap-25 {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.channels-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: var(--white);
  box-shadow: unset !important;
  color: var(--black) !important;
}

.channels-section {
  display: flex;
  justify-content: space-between;
}

.channels-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px 5px 0px;
  gap: 15px;

  &:hover {
    color: var(--purple-3);
  }
}

.channels-title {
  display: flex;
  align-items: center;
  gap: 10px;

  mat-icon {
    width: 24px;
    height: 24px;
  }
}

.add-div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;

  &:not(.bold-add):hover {
    border-radius: 15px;
    background-color: var(--bg-color);
    gap: 10px;
  }
}

.bold-add {
  font-weight: 700;
}

.channel-undersection {
  flex: 1;
  overflow-y: auto;
}

.subtitle-header {
  width: 100%;
  padding: 5px 10px 5px 15px;
}

.subtitle-title {
  padding: 4px 20px 4px 25px;

  &:not(.profile-border):hover {
    border-radius: 20px;
    background-color: var(--bg-color);

    h3 {
      font-weight: 700;
      color: var(--purple-3);
    }

    .channel-icon {
      font-weight: 700 !important;
      color: var(--purple-3);
    }
  }
}

.add-channel {
  &:hover h3 {
    font-weight: unset;
    color: var(--purple-3);
  }
}

.channels-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  mat-icon {
    width: 24px;
    height: 24px;
  }
}

.profile-section {
  max-height: calc(100vh - 618px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 13px;
  flex: 1;
  overflow-y: auto;
}

.profile-border {
  width: 100%;
  padding: 4px 20px 4px 25px;

  &:hover {
    background-color: var(--bg-color);
    border-radius: 35px;
    color: var(--black);
  }
}

.profile-content {
  display: flex;
  position: relative;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.status-icon {
  width: 14px;
  height: 14px;
  border: 2px solid var(--white);
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 34px;
}

.online {
  background-color: var(--green);
}

.offline {
  background-color: var(--rosa);
}

.bold-user {
  background-color: var(--bg-color);
  border-radius: 35px;
  color: var(--black);

  p {
    color: var(--purple-3);
    font-weight: 700 !important;
  }
}

.navigation-bar {
  color: var(--black);
  background-color: var(--white);
  border-radius: 0px 0px 30px 30px;
  box-shadow: -4px 4px 7px 0px rgba(0, 0, 0, 0.2);
  padding: 14px 14px;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  transform: rotate(270deg);
  color: var(--black);

  &:hover > .navigation-bar-content {
    color: var(--purple-3);
  }
}

.open {
  top: 556px;
  left: -140px;

  h4 {
    width: 237px !important;
  }
}

.close {
  top: 571px;
  left: -155px;

  // h4 {
  // width: 265px !important;
  // }
}

.navigation-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  p {
    margin: 0;
  }
}

.navigation-bar-img {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

.d-none {
  display: none;
}

.bold {
  font-weight: 700 !important;
}

/* Smartphones - - - - - - - - - */

@media only screen and (max-width: 960px) {
  section {
    display: flex;
    height: calc(100vh - 85.5px);
  }

  .navigation-bar {
    display: none;
  }

  .sidenav {
    border-radius: 0px;
    margin-right: 0px;
    width: 100vw;
  }

  .workspace-content {
    display: none;
  }
}
