<mat-card appearance="outlined">
    <!-- <app-direct-message-header></app-direct-message-header> -->
  
    <mat-card-content #messageContainer>
      <!-- <app-direct-message-info></app-direct-message-info> -->
      <mat-list>
        <!-- <app-direct-message-message *ngFor="let message of messages$ | async"
          [message]="message"></app-direct-message-message> -->
      </mat-list>
  
    </mat-card-content>
  
    <mat-card-footer>
      <!-- <app-direct-message-new-message-input (messageCreated)="onMessageCreated()"></app-direct-message-new-message-input> -->
    </mat-card-footer>
  </mat-card>