<div class="reaction-container">
  <div [ngClass]="{ 'my-message': isMyMessage }" class="reactions-wrapper">
    <ng-container *ngIf="reactions">
      <ng-container *ngFor="let reaction of reactions">
        <button class="reaction-btn">
          <div class="reaction-info-menu">
            <img
              [src]="
                './../../../assets/reaction/' + reaction.reactionType + '.svg'
              "
              [alt]="reaction.reactionType"
            />
            <div class="user-container">
              <ng-container
                *ngFor="
                  let author of getSortedAuthors(reaction.authorIDs);
                  let last = last
                "
              >
                <span class="user">
                  {{ getUserName(author) }}
                </span>
                <ng-container *ngIf="!last"> und </ng-container>
              </ng-container>
            </div>
            <span
              *ngIf="
                reaction.authorIDs.length === 1 &&
                  isCurrentUser(reaction.authorIDs[0]);
                else checkMultiple
              "
            >
              hast reagiert
            </span>
            <ng-template #checkMultiple>
              <span *ngIf="reaction.authorIDs.length > 1; else checkSingle">
                haben reagiert
              </span>
              <ng-template #checkSingle>
                <span>hat reagiert</span>
              </ng-template>
            </ng-template>
          </div>
          <img
            [src]="
              './../../../assets/reaction/' + reaction.reactionType + '.svg'
            "
            [alt]="reaction.reactionType"
          />
          <span class="reaction-count">{{ reaction.count }}</span>
        </button>
      </ng-container>
    </ng-container>

    <button class="mini-fab-btn" mat-mini-fab>
      <div class="reaction-info-menu reaction-menu">
        <app-reaction-bar
          [message]="message"
          [isFromReactionContainer]="true"
        ></app-reaction-bar>
      </div>
      <mat-icon>add_reaction</mat-icon>
    </button>
  </div>
</div>
