@font-face {
  font-family: "Nunito";
  src: url("../src/assets/fonts/Nunito-VariableFont_wght.ttf");
}

@mixin cardstyling() {
  border-radius: 30px;
  background-color: var(--white);
}

:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --bg-color: rgba(236, 238, 254, 1);
  --lines: rgba(173, 176, 217, 1);
  --gray: rgba(104, 104, 104, 1);
  --purple-1: rgba(68, 77, 242, 1);
  --purple-2: rgba(121, 126, 243, 1);
  --purple-3: rgba(83, 90, 241, 1);
  --green: rgba(146, 200, 62, 1);
  --rosa: rgba(237, 30, 121, 1);
  --blue: rgba(19, 129, 255, 1);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Nunito", Roboto, sans-serif;
  background-color: var(--bg-color);
}

h1,
h2 {
  font-family: "Nunito", Roboto, sans-serif;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
