@import "./assets/fonts/fonts.scss";

@mixin cardstyling() {
  border-radius: 30px;
  background-color: var(--white);
}

:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --bg-color: rgba(236, 238, 254, 1);
  --lines: rgba(173, 176, 217, 1);
  --gray: rgba(104, 104, 104, 1);
  --purple-1: rgba(68, 77, 242, 1);
  --purple-2: rgba(121, 126, 243, 1);
  --purple-3: rgba(83, 90, 241, 1);
  --light-purple: rgba(173, 176, 217, 1);
  --green: rgba(146, 200, 62, 1);
  --rosa: rgba(237, 30, 121, 1);
  --blue: rgba(19, 129, 255, 1);
  --img-size: 75px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Nunito", Roboto, sans-serif;
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  font-family: "Nunito", Roboto, sans-serif !important;
  font-weight: 700;
  margin: 0;
}

h4,
p,
a {
  font-family: "Nunito", Roboto, sans-serif !important;
  margin: 0;
  text-decoration: none;
}

.n-h1,
.n-h2,
.n-h3 {
  font-family: "Nunito", Roboto, sans-serif !important;
  font-weight: 700 !important;
  margin: 0 !important;
}

.n-h4,
.n-p,
.n-a {
  font-family: "Nunito", Roboto, sans-serif !important;
  margin: 0 !important;
}

.n-h1 {
  font-size: 46px !important;
  line-height: 55.2px !important;
}

.n-h2 {
  font-size: 32px !important;
  line-height: 38.4px !important;
}

.n-h3 {
  font-size: 24px !important;
  line-height: 32.74px !important;
}

.n-h4 {
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 24px !important;
}

.n-p {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 24.55px !important;
}

.n-a {
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 21.6px !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.gap-32 {
  gap: 32px;
}

.gap-16 {
  gap: 16px;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.online {
  background-color: var(--green);
}

.offline {
  background-color: var(--rosa);
}

.absent {
  background-color: var(--gray);
}

.online-text {
  color: var(--green);
}

.offline-text {
  color: var(--rosa);
}

.absent-text {
  color: var(--gray);
}

.popup-container {
  position: relative;
  z-index: 3; // vor shaded Background
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: var(--white);
  border-radius: 0px 30px 30px 30px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.handle {
  width: 62px;
  height: 6px;
  border-radius: 23px;
  background-color: var(--purple-2);
  cursor: pointer;
}

.center-handle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-default {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  padding: 12px 25px 12px 25px;
  gap: 10px;
  color: var(--white);
  font-family: "Nunito";
  font-weight: 700;
  font-size: 18px;
  line-height: 24.55px;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--purple-1);
}

.btn-primary-disabled {
  background-color: var(--gray);
  cursor: default;
}

.btn-secondary {
  background-color: var(--white);
  border: 1px solid var(--purple-2);
  color: var(--purple-1);
}

.btn-secondary-disable {
  background-color: var(--white);
  border: 1px solid var(--gray);
  color: var(--gray);
  cursor: default;
}

.icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.close-icon {
  width: 24px;
  height: 24px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 18px;
  transition: all 70ms ease-in;

  &:hover {
    border-radius: 20px;
    background-color: var(--bg-color);
    gap: 10px;
  }
}

.img-input-height {
  height: calc(145px + var(--img-size)) !important;
}

.img-input-margin {
  margin-bottom: calc(180px + var(--img-size)) !important;
}

.img-upload {
  flex-direction: column;
  gap: 8px !important;
}

.img-upload-container {
  display: flex;
  gap: 5px;
}

.shaded-background {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 0.15s ease-in-out;
}

.edit-channel-active.shaded-background {
  z-index: 3 !important;
}

.mat-drawer-inner-container {
  height: 100%;
  flex: 1 1 auto;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

/* Emojis - - - - - - - - - */

.emoji-container {
  position: absolute;
  bottom: 100%;
  left: 0%;
  z-index: 100;
}

.emoji-mart {
  font-family: "Nunito", Roboto, sans-serif !important;
  font-weight: 700;
  margin: 0;
  border: none !important;
  border-radius: 30px 30px 30px 0px !important;
  box-sizing: border-box;
  line-height: 1.45 !important;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 10px !important;
}

.emoji-mart * {
  box-sizing: border-box;
}

.emoji-mart-category-label {
  cursor: default !important;
}

.emoji-mart-category .emoji-mart-emoji span {
  cursor: pointer !important;
}

.emoji-mart-category .emoji-mart-emoji:hover:before {
  background-color: var(--bg-color) !important;
}

.emoji-mart-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-mart-anchor:hover {
  color: var(--purple-3) !important;
}

.emoji-mart-anchor-selected {
  color: var(--purple-3) !important;
}

.emoji-mart-anchor-selected .emoji-mart-anchor-bar {
  background-color: var(--purple-3) !important;
}

.emoji-mart-search-icon {
  top: 12px !important;
  right: 16px !important;
  color: black;
}

.emoji-mart-search input {
  border: 1px solid var(--lines) !important;
  padding: 10px 16px !important;
  font-size: 16px !important;
  border-radius: 20px !important;
  cursor: text !important;
  font-family: "Nunito" !important;
  color: var(--gray) !important;

  &:focus-visible {
    border: 1px solid var(--purple-2) !important;
  }
}

.emoji-mart-search input::placeholder {
  display: flex;
  align-items: center;
  font-family: "Nunito" !important;
  font-size: 16px !important;
  color: var(--gray) !important;
}

.emoji-mart-scroll {
  scrollbar-width: none;
}

/* Custom Scrollbar - - - - - - - - - */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--purple-2) #dddddd00;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple-2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #00000000;
  border: 1px solid #00000000;
}

/* Smartphones - - - - - - - - - */

@media only screen and (max-width: 960px) {
  .n-h3 {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 960px) {
  .btn-default {
    padding: 8px;
  }

  .gap-32 {
    gap: 16px;
  }
}
