@use "@angular/material" as mat;
@import "./assets/fonts/fonts.scss";

$my-typography: mat.define-typography-config(
  $font-family: "Nunito, sans-serif",
);
@include mat.typography-hierarchy($my-typography);

@mixin cardstyling() {
  border-radius: 30px;
  background-color: var(--white);
}

:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --bg-color: rgba(236, 238, 254, 1);
  --lines: rgba(173, 176, 217, 1);
  --gray: rgba(104, 104, 104, 1);
  --purple-1: rgba(68, 77, 242, 1);
  --purple-2: rgba(121, 126, 243, 1);
  --purple-3: rgba(83, 90, 241, 1);
  --green: rgba(146, 200, 62, 1);
  --rosa: rgba(237, 30, 121, 1);
  --blue: rgba(19, 129, 255, 1);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  //font-family: "Nunito", Roboto, sans-serif;
  background-color: var(--bg-color);
}

h1,
h2 {
  font-family: "Nunito", Roboto, sans-serif;
  font-weight: 700;
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 12px 25px 12px 25px;
  gap: 10px;
  background-color: var(--purple-1);
  color: var(--white);
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 18px;
  line-height: 24.55px;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}



