<mat-card
  id="thread"
  *ngIf="selectedThread$ | async as selectedThread"
  appearance="outlined"
>
  <mat-card-header>
    <div class="thread-header">
      <div class="thread-info">
        <h2>Thread</h2>
        <div class="channel-name">
          <mat-icon class="tag">tag</mat-icon>
          <span>{{ selectedThread.channelName }}</span>
        </div>
      </div>

      <button (click)="closeThread()" class="mini-fab-btn" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content #messageContainer>
    <mat-list class="main-chat">
      <div class="initial-message-container">
        <mat-list-item>
          <!-- <div id="reactionBar" class="reaction-bar">
            <button class="mini-fab-btn" mat-mini-fab>
              <mat-icon>add_reaction</mat-icon>
            </button>
          </div> -->

          <div class="message-wrapper no-hover">
            <img
              class="user-img"
              src="{{ selectedThread.replyToMessage!.profileImg }}"
            />
            <div class="message-details">
              <div class="user-wrapper">
                <div class="user-name">
                  {{ selectedThread.replyToMessage?.authorName }}
                </div>
                <div class="time">
                  {{
                    chatService.formatTime(selectedThread.replyToMessage!.time)
                  }}
                  Uhr
                </div>
              </div>
              <div class="text-bubble">
                {{ selectedThread.replyToMessage?.text }}
              </div>
              <div class="reaction-wrapper"></div>
            </div>
          </div>
        </mat-list-item>

        <div *ngIf="answerCount" class="divider-container">
          <div *ngIf="answerCount == 1" class="total-answers">1 Antwort</div>
          <div *ngIf="answerCount > 1" class="total-answers">
            {{ answerCount }} Antworten
          </div>
          <div *ngIf="answerCount > 50" class="total-answers">
            50+ Antworten
          </div>
          <mat-divider> </mat-divider>
        </div>
      </div>

      <app-thread-message
        *ngFor="let threadMessage of threadMessages$ | async"
        [threadMessage]="threadMessage"
      ></app-thread-message>
    </mat-list>
  </mat-card-content>

  <mat-card-footer>
    <div class="new-message-container" (messageCreated)="onMessageCreated()">
      @if (this.uploadService.currentImg$ | async) {
      <img [src]="this.uploadService.currentImg$ | async" alt="" />
      <mat-icon
        (click)="this.uploadService.removeImg()"
        class="close-icon pos-relative"
        >close</mat-icon
      >
      }@else {
      <textarea
        [(ngModel)]="threadMessageText"
        matInput
        type="text"
        placeholder="Antworten..."
        rows="3"
        (keydown)="onKeyDown($event)"
      ></textarea>
      }
      <div class="message-controls">
        <div class="add-elements">
          <button
            (click)="this.uploadService.triggerFileInput()"
            class="mini-fab-button"
            mat-mini-fab
            class="add-doc mini-fab-btn"
          >
            <input
              id="file-upload"
              type="file"
              (change)="chooseFile($event)"
              [accept]="uploadService.acceptedFileTypes"
              hidden
            />
            <mat-icon>add</mat-icon>
          </button>
          <div class="vertical-divider"></div>
          <button
            mat-mini-fab
            class="emojis mini-fab-btn"
            (click)="openEmojiSet($event)"
          >
            <mat-icon>sentiment_satisfied</mat-icon>
            <div
              *ngIf="isEmoji"
              class="emoji-container"
              appClickOutside
              (clickOutside)="closeEmojiSet()"
            >
              <app-emoji-picker
                (emojiSelected)="onEmojiSelected($event)"
              ></app-emoji-picker>
            </div>
          </button>
          <button
            mat-mini-fab
            class="tag-person mini-fab-btn"
            (click)="openPopup($event)"
          >
            <mat-icon>alternate_email</mat-icon>
          </button>
          <app-tagging
            *ngIf="isTag"
            (closePopup)="closePopup()"
            [isFromThread]="true"
          >
          </app-tagging>
        </div>
        <button
          class="send-btn"
          [ngClass]="{ 'send-btn-valid': threadMessageText.trim().length > 0 }"
          (click)="sendMessage()"
        >
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
