<header class="hide-on-mobile">
    <img src="../../../assets/img/logo-with-font.png" alt="Logo Dabubble" class="logo">
</header>
<div class="wrapper">
    <img class="mobile-logo" src="../../../assets/img/logo-with-font.png" alt="">
    <mat-card appearance="outlined" class="login-card">
        <button routerLink="/sign-up" class="arrow-back-button"><mat-icon class="icon">arrow_back</mat-icon></button>
        <h1>Wähle deinen Avatar</h1>
        <div class="avatar-container">
            <img class="profile-picture" [src]="imageUrl" alt="">
            <h2>{{username}}</h2>
        </div>
        <div class="choose-avatar-container">
            <span>Aus der Liste wählen</span>
            <div class="choose-picture-container">
                <img (click)="setPicture('./../../../assets/img/character1.png')" src="./../../../assets/img/character1.png"
                    alt="">
                <img (click)="setPicture('./../../../assets/img/character2.png')" src="./../../../assets/img/character2.png"
                    alt="">
                <img (click)="setPicture('./../../../assets/img/character3.png')" src="./../../../assets/img/character3.png"
                    alt="">
                <img (click)="setPicture('./../../../assets/img/character4.png')" src="./../../../assets/img/character4.png"
                    alt="">
                <img (click)="setPicture('./../../../assets/img/character5.png')" src="./../../../assets/img/character5.png"
                    alt="">
                <img (click)="setPicture('./../../../assets/img/character6.png')" src="./../../../assets/img/character6.png"
                    alt="">
            </div>

            <span>eigenes Bild verwenden</span>
            <button class="guest-login-button" (click)="triggerFileInput()">
                Datei hochladen
            </button>
            <input id="file-upload" type="file" (change)="onFileSelected($event)" [accept]="acceptedFileTypes" hidden />
        </div>
        <div class="next-button-container">
            <button type="button" (click)="createUser()" [disabled]="!pictureChosen" class="next-button">Weiter</button>
        </div>
    </mat-card>
</div>