.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-color);
}

.login-card {
    height: 769px;
    width: 606px;
    border-radius: 30px;
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        font-size: 46px;
        font-weight: 700;
        line-height: 55.2px;
        text-align: center;
        color: var(--purple-1);
    }

    p {
        text-align: center;
    }

    a {
        text-align: center;
    }
}

.arrow-back-button {
    background-color: white;
    border: none;
    position: absolute;
    top: 7%;
    left: 7%;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    &:hover {
        background-color: var(--bg-color) !important;
    }

    .icon {
        font-size: 30px;
        height: auto;
        width: auto;

        &:hover {
            color: var(--purple-3);
        }
    }
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    .profile-picture {
        width: 170px;
        height: 170px;
    }
}

.choose-avatar-container {
    height: 30%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;


    .choose-picture-container {
        display: flex;
        justify-content: space-between;

        img {
            border-radius: 50%;
            height: 70px;
            width: 70px;
            cursor: pointer;
        }
    }
}

button {
    padding: 12px 25px 12px 25px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.guest-login-button {
    background-color: white;
    color: var(--purple-1);
    border: 1px solid var(--purple-2);

    &:hover {
        background-color: var(--purple-1);
        border: 1px solid var(--purple-1);
        color: white;
    }
}

.next-button-container {
    display: flex;
    justify-content: flex-end;

    .next-button {
        background-color: var(--purple-1);
        color: white;

        &:hover {
            background-color: var(--purple-2);
        }
    }
}